@using JobPortal.Library.Enumerators
@using JobPortal.Library.Helpers
@using JobPortal.Domain
@using JobPortal.Data
@using JobPortal.Web.Models
@using System.Collections
@using PagedList.Mvc

@{
    ViewBag.Title = "Connections";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var pagedModel = ViewBag.Model as PagedList.IPagedList<ConnectionsByCountryModel>;
    if (pagedModel != null)
    {
        int minRowSize = ((pagedModel.PageNumber - 1) * pagedModel.PageSize) + 1;
        int totalRecord = (int)ViewBag.Rows;
        int maxRowSize = (pagedModel.PageNumber - 1) * pagedModel.PageSize + pagedModel.Count;
        if (totalRecord <= pagedModel.PageSize)
        {
            maxRowSize = totalRecord;
        }
    }
}

@Scripts.Render("~/bundles/jScripts")
<script src="~/Scripts/highcharts.js"></script>
<script src="~/Scripts/map.js"></script>
<script src="~/Scripts/world.js"></script>
<style>
    .photo {
        width: 50px;
        height: 50px;
        text-align: center;
    }

    .namefield {
        width: 200px;
    }

    .genderfield {
        width: 70px;
    }

    .agefield {
        width: 40px;
    }

    .relationfield {
        width: 300px;
    }

    .actonfield {
        width: 200px;
    }

    .nfield {
        width: 100px;
    }

    .cdate {
        padding-left: 0px;
        list-style-type: none;
    }

        .cdate li {
            display: inline-block;
            width: auto;
        }
</style>
<div class="row">
    <div class="col-lg-10 col-md-10 col-sm-10">
        <div class="title-login">
            <h1 style="margin-top: -15px">Connections</h1>

        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2">
        <div class="clear" style="height: 20px;"> </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <span style="font-size:1em; font-weight:bold">Connections By Country</span>
        <div id="container" class="list-group-item">

        </div>
    </div>
</div>
<div class="clear" style="height:15px;"></div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <span style="font-size:1em; font-weight:bold">Last 7 days Connections</span>
        <div id="container1" class="list-group-item" style="height:240px;">

        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-6">
        <span style="font-size:1em; font-weight:bold">Total Connections</span>
        <div id="container2" class="list-group-item" style="height:240px;">

        </div>
    </div>
</div>
<div class="clear" style="height:15px;"></div>
@using (Html.BeginForm("Contacts", "Admin", FormMethod.Post))
{
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3">
        @Html.Label("Search By Country")
        @Html.DropDownList("CountryId", new SelectList(SharedService.Instance.GetCountryList(), "Id", "Text"), "SELECT COUNTRY", new { @class = "form-control" })
    </div>
   
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="form-group">
                    @Html.Label("From Date")
                    <div class='input-group date'>
                        @Html.TextBox("StartDate", null, new { @class = "form-control", placeholder = "FROM DATE", @title = "FROM DATE", @readonly = "readonly" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="form-group">
                    <div class="form-group">
                        @Html.Label("To Date")
                        <div class='input-group date'>
                            @Html.TextBox("EndDate", null, new { @class = "form-control", placeholder = "TO DATE", @title = "TO DATE", @readonly = "readonly" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="form-group">
                    <div class="form-group">
                        <input id="Search" type="submit" value="Search" class="btn btn-info pull-right" style="width: 105px;" />
                    </div>
                </div>
            </div>
           
      
</div>
   
}
<div style="height:25px;"></div>
<div class="table-responsive">
    <table class="table table-bordered table-hover" style="width:100%">
        <thead>
            <tr>
                <th>Country</th>
                <th class="nfield">Individuals</th>
                <th class="nfield">Companies</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Model)
            {
                <tr>
                    <td><a href="/Admin/UsersInConnection?CountryId=@item.CountryId&fd=@Request["fd"]&fm=@Request["fm"]&fy=@Request["fy"]&td=@Request["td"]&tm=@Request["tm"]&ty=@Request["ty"]" target="_blank">@item.Country</a></td>
                    <td>
                        @if (item.Individuals > 0)
                        {
                            <a href="/Admin/UsersInConnection?CountryId=@item.CountryId&userType=4&fd=@Request["fd"]&fm=@Request["fm"]&fy=@Request["fy"]&td=@Request["td"]&tm=@Request["tm"]&ty=@Request["ty"]" target="_blank">@item.Individuals</a>
                        }
                        else
                        {
                            @item.Individuals
                        }
                    </td>
                    <td>
                        @if (item.Companies > 0)
                        {
                            <a href="/Admin/UsersInConnection?CountryId=@item.CountryId&userType=5&fd=@Request["fd"]&fm=@Request["fm"]&fy=@Request["fy"]&td=@Request["td"]&tm=@Request["tm"]&ty=@Request["ty"]" target="_blank">@item.Companies</a>
                        }
                        else
                        {
                            @item.Companies
                        }
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>Total</th>
                <th>@ViewBag.Individuals</th>
                <th>@ViewBag.Companies</th>
            </tr>
        </tfoot>
    </table>
</div>

<div style="text-align:center; margin-top: -15px;">
    @if (pagedModel != null)
    {
        @Html.PagedListPager(pagedModel, PageNumber => Url.Action("Contacts",
                new RouteValueDictionary()
                {
                    {"pageNumber", PageNumber},
                    {"CountryId", Request["CountryId"]}
               }),
                PagedListRenderOptions.ClassicPlusFirstAndLast)
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var companies = 0;
        var individuals = 0;
        var users = 0;
        var dataPoints = [];

        $.getJSON("/JsonHelper/GetConnectionCounts?CountryId=@(ViewBag.Country!=null ? ViewBag.Country.Id:"")", function (data) {

            dataPoints = [];
            var total = 0;
            $.each(data, function (key, value) {
                dataPoints.push({ name: key, y: value });
                total += value;
            });

            $('#container1').highcharts({
                colors: ['#FFB61C', '#87D42E', '#475d8f'],
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                events: {
                    click: function () {
                        alert('chart clicked');
                    }
                },
                title: {
                    text: ''
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.y}</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        depth: 10,
                        dataLabels: {
                            enabled: true,
                            distance: -30,
                            format: '{point.y}',
                            shadow: false,
                            style: {
                                textShadow: "0 0 0px contrast, 0 0 0px contrast",
                            }
                        }
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Connections',
                    data: dataPoints,
                    showInLegend: true,
                    dataLabels: {
                        enabled: true,
                        distance: -30,
                        format: '{point.y}',
                        shadow: false
                    }
                }]
            });
            if (total == 0) {
                $('#container1').html("<div style=\"padding-top:100px; color:red\"><b>No Connections</b></div>");
                $('#container1').addClass("text-center");
            }
        });

        //var url = "/JsonHelper/GetConnectionCountsByCountry";
        var url = "/JsonHelper/GetConnectionCountsByCountry?CountryId=@(ViewBag.Country!=null ? ViewBag.Country.Id:"")&fd=" + $("#fd").val() + "&fm=" + $("#fm").val() + "&fy=" + $("#fy").val() + "&td=" + $("#td").val() + "&tm=" + $("#tm").val() + "&ty=" + $("#ty").val();

        $.getJSON(url, function (data) {
            companies = 0;
            individuals = 0;
            users = 0;
            $.each(data, function (i, item) {
                if (item.Country != null) {
                    dataPoints.push({ code: "" + item.Code, value: (item.Users), name: item.Country, countryId: item.CountryId });
                    users += item.Users;
                    individuals += item.Individuals;
                    companies += item.Companies;
                }
            });

            $('#container').highcharts('Map', {
                title: {
                    text: ''
                },

                mapNavigation: {
                    enabled: true,
                    buttonOptions: {
                        verticalAlign: 'bottom'
                    }
                },

                colorAxis: {
                    min: 1,
                    max: 1000,
                    type: 'logarithmic'
                },
                plotOptions: {
                    series: {
                        cursor: 'pointer',
                        point: {
                            events: {
                                click: function () {
                                    window.open("/Admin/UsersInConnection?CountryId=" + this.countryId, "_blank");
                                }
                            }
                        }
                    }
                },
                series: [{
                    data: dataPoints,
                    mapData: Highcharts.maps['custom/world'],
                    joinBy: ['iso-a2', 'code'],
                    name: 'Connections',
                    allowPointSelect: true,
                    cursor: 'pointer',
                    states: {
                        hover: {
                            color: '#8CEBF7'
                        }
                    },
                    tooltip: {
                        valueSuffix: ''
                    }
                }]
            });


            dataPoints = [];
            dataPoints.push({ name: "Individuals", y: individuals });
            dataPoints.push({ name: "Companies", y: companies });
            dataPoints.push({ name: "Total", y: users });
            $('#container2').highcharts({
                colors: ['#FFB61C', '#87D42E', '#475d8f'],
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                events: {
                    click: function () {
                        alert('chart clicked');
                    }
                },
                title: {
                    text: ''
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.y}</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        depth: 10,
                        dataLabels: {
                            enabled: true,
                            distance: -30,
                            format: '{point.y}',
                            shadow: false,
                            style: {
                                textShadow: "0 0 0px contrast, 0 0 0px contrast",
                            }
                        }
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Connections',
                    data: dataPoints,
                    showInLegend: true,
                    dataLabels: {
                        enabled: true,
                        distance: -30,
                        format: '{point.y}',
                        shadow: false
                    }
                }]
            });
            if (users == 0) {
                $('#container2').html("<div style=\"padding-top:100px; color:red\"><b>No Connections</b></div>");
                $('#container2').addClass("text-center");
            }
        });

        $("#Search").click(function () {
            var isValidStartDate = isValidDate($("#fd").val(), $("#fm").val(), $("#fy").val());
            var isValidEndDate = isValidDate($("#td").val(), $("#tm").val(), $("#ty").val());

            if (isValidStartDate) {
                $("#fromDateError").html("");
                $("#fromDateError").show();
                $("#Search").enabled = true;
            } else {
                $("#fromDateError").html("Provide correct from date!");
                $("#fromDateError").show();
                $("#Search").enabled = false;
            }

            if (isValidEndDate) {
                $("#toDateError").html("");
                $("#toDateError").show();
                $("#Search").enabled = true;
            } else {
                $("#toDateError").html("Provide correct to date!");
                $("#toDateError").show();
                $("#Search").enabled = false;
            }
            return (isValidStartDate == true && isValidEndDate == true);
        });
    });
</script>