@using JobPortal.Domain
@using JobPortal.Data
@using JobPortal.Library.Enumerators;
@using JobPortal.Library.Helpers;
@using System.Collections
@using PagedList.Mvc
@{
    ViewBag.Title = "Manage Websites";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var pagedModel = ViewBag.Model as PagedList.IPagedList<JobPortal.Data.WebsiteList>;

    int minRowSize = ((pagedModel.PageNumber - 1) * pagedModel.PageSize) + 1;
    int totalRecord = (int)ViewBag.Rows;
    int maxRowSize = (pagedModel.PageNumber - 1) * pagedModel.PageSize + pagedModel.Count;
    if (totalRecord <= pagedModel.PageSize)
    {
        maxRowSize = totalRecord;
    }
}
@Scripts.Render("~/bundles/jScripts")
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="title-login">
            <h1 style="margin-top:-15px">WebSites List</h1>
            <!--Manage Websites here-->
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 text-right">
        @Html.ActionLink("New Websites", "AddWebsites", "Admin", null, new { @class = "btn btn-info" })
    </div>
</div>
@Html.Partial("_MessagePartial")
<div class="clear" style="height:15px;"></div>
@using (Html.BeginForm())
{
    <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group">
                        <div class='input-group date'>
                            @Html.TextBox("StartDate", null, new { @class = "form-control", placeholder = "FROM DATE", @title = "FROM DATE", @readonly = "readonly" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group">
                        <div class="form-group">
                            <div class='input-group date'>
                                @Html.TextBox("EndDate", null, new { @class = "form-control", placeholder = "TO DATE", @title = "TO DATE", @readonly = "readonly" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 text-right">
            <input type="submit" value="Search" class="btn btn-info btn-block" />
        </div>
    </div>
}
<div class="clear" style="height:15px;"></div>
@{
    WebGrid grid = new WebGrid(@ViewBag.Model, ajaxUpdateContainerId: "grid");
}
<div id="container-grid" class="table-responsive">
    @grid.GetHtml(htmlAttributes: new { id = "grid", @style = "width:100%" }, tableStyle: "table table-bordered table-hover",
        columns: new[]
        {
            grid.Column(columnName: "Country", header: "Country", canSort:true, format: p => p.CountryName),
            grid.Column(columnName: "CompanyName", header: "CompanyName", canSort:true, format: p => p.CompanyName),
            grid.Column(columnName: "Website", header: "Website", canSort:true, format: p => p.Website),
            grid.Column(columnName: "DateCreated", header: "Date", canSort:true, format: p => p.DateCreated.ToString("MMM-dd-yyyy")),
            grid.Column(columnName: "Email", header: "Email", canSort:true, format: p => p.Email),
            grid.Column("Sent", canSort:true, format:(item) => {return Html.Raw("Email Sent"); }),

            grid.Column("Actions", canSort:true, format: (item) =>
            {
                string links = string.Empty;
                links = string.Format("<b>{0}</b>", Html.ActionLink("Edit", "EditWebsites", new { Id = item.Id }, new { title = "Edit Websites" }).ToString());
                //links += string.Format(" | <b>{0}</b>", Html.ActionLink("Delete", "DeleteAnnouncement", new { Id = item.Id }, new { title = "Delete Announcement", onclick="return confirm('Are you sure to delete?');" }).ToString());
                return Html.Raw(links);
            })
        })
    <div style="text-align:center; margin-top: -15px; ">

        @Html.PagedListPager(pagedModel, PageNumber => Url.Action("Websites",
            new RouteValueDictionary()
            {
                { "PageNumber" , PageNumber},

                { "StartDate" , Request["StartDate"]},
                { "EndDate" , Request["EndDate"]},
            }),
            PagedListRenderOptions.ClassicPlusFirstAndLast)
    </div>
</div>