@model JobPortal.Web.Models.SearchJobModel
@using JobPortal.Library.Constants
@using JobPortal.Library.Enumerators
@using JobPortal.Library.Helpers
@using JobPortal.Domain
@using JobPortal.Models
@using System.Text;
@using System.Collections
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Jobs in indonesia | Search indonesia Jobs, Employment -JobLisiting</title>
    <meta content="Job Listing indonesia is your one-stop destination for the top job vacancies in indonesia. Browse through hundreds of the latest job postings and apply for the perfect job today. With our user-friendly interface and tailored job search, we make it easy for job seekers to find the right job in indonesia." name="description">
    <meta content="indonesia Jobs, Employment in indonesia,  careers,  employment,  job listings,  indonesia job search,  job search engine indonesia, work in indonesia , jobs in indonesia" name="keywords">

    <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
    <meta property="og:title" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">

    <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">

    <!-- Favicons -->
    <link href="~/Content/Homesinga/assetsmalsya/img/favicon.png" rel="icon">
    <!-- <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:400,900" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/Homesinga/assetsmalsya/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Homesinga/assetsmalsya/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Content/Homesinga/assetsmalsya/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Content/Homesinga/assetsmalsya/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Bell - v4.6.0
    * Template URL: https://bootstrapmade.com/bell-free-bootstrap-4-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>
    <img class="conatiner2" src="~/Content/chatbotnew/ChatWithUS.png" onclick="openForm()" alt="cwt" height="70" width="90" />
    <link href="~/Content/chatbotnew/chatbotstyle.css" rel="stylesheet" />
    <script src="~/Content/chatbotnew/chatbotjquerry.js"></script>
    <div class="container1" id="myForm">
        <div class="chat-header">
            <div class="logo">
                <!-- <img src="images/ChatWithUS.png" alt="cwt" /> -->
            </div>
            <div class="title" onclick="closeForm()">
                <!-- Let's Chat -->
                <img src="~/Content/chatbotnew/ChatWithUS.png" alt="cwt" />

            </div>
        </div>
        <div class="chat-body">
            <p class="chatbot-message">Hi I am Lovely </p>
            <p class="chatbot-message">Select below options to serve better</p>
            <p>
                <button type="button" value="Student" class="btn bodybox1" id="bodybox1">Students</button>
                <button type="button" value="Interns" class="btn bodybox1" id="bodybox2">Interns</button>
                <button type="button" value="Jobseekers" class="btn bodybox1" id="bodybox3">Jobseekers</button>
                <button type="button" value="Employers" class="btn bodybox1" id="bodybox4">Employers</button>
                <button type="button" value="Recruitment Agency" class="btn bodybox1" id="bodybox5">Recruitment Agency</button>
                <button type="button" value="Institutes" class="btn bodybox1" id="bodybox6">Institutes</button>
                <button type="button" value="Freelancers" class="btn bodybox1" id="bodybox7">Freelancers</button>
                <button type="button" value="Partners" class="btn bodybox1" id="bodybox8">Partners</button>
            </p>
            <div class="loading hide">
                <div class="circle circle-1"></div>
                <div class="circle circle-2"></div>
                <div class="circle circle-3"></div>
            </div>
        </div>
        <div class="chat-input" style="background-color: white;">
            <div class="input-sec">
                <input type="text" id="txtInput" placeholder="Type here..." autofocus />
            </div>
            <div class="send">
                @*<img src="~/Content/chatbotnew/send.jpeg" style="width:59px; height: 53px;" alt="send" />*@
                <button type="button" style="border: 1px solid #34ba08; border-radius:7px; width: 100px; height: 40px;">SEND</button>
            </div>
        </div>
    </div>
    <script src="~/Content/chatbotnew/app.js"></script>
    <script src="~/Content/chatbotnew/response.js"></script>

    <!-- ======= Hero Section ======= -->


    @*<img src="~/Images/indoooo.png" />*@


    <section id="hero" class="hero" style="background-image: url(/Images/indoooo.png);">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12">
                    <a class="hero-brand" href="/indonesia" title="Home">
                        <img alt="Bell Logo" src="~/Content/Homesinga/assetsmalsya/img/PNG/logo_tool.png" width="250" height="65" class="m-0">
                    </a>
                </div>
            </div>

            <div class="col-md-12">
                <h1 style="font-size: 52px;">
                    Find Jobs in indonesia, Employment, Vacancies and Job Search
                </h1>

                <p class="tagline">
                    Create a better future for yourself with indonesia’s one of the leading job search portal!
                </p>
                <div class="row">
                    <div class="col" style="text-align: right;">

                        <a href="/account/login" class="btn btn-full scrollto" style="background-color: #34ba08;">Login</a>
                    </div>

                    <div class="col" style="text-align: left;">

                        <a href="/account/register" class="btn btn-full scrollto" style="background-color: #34ba08;">Register</a>
                    </div>

                </div>
                <!-- <a class="btn btn-full scrollto" href="#about">Get Started Now</a> -->
            </div>
        </div>

    </section><!-- End Hero -->
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center">

            <div id="logo" class="me-auto">
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt=""></a> -->
                <!-- Uncomment below if you prefer to use a text image -->
                <!-- <h1><a href="#hero">Job Listing</a></h1> -->
            </div>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto active" href="/indonesia/jobs">Search Jobs</a></li>
                    <li><a class="nav-link scrollto" href="/search-people">Search People</a></li>
                    <li><a class="nav-link scrollto" href="/search-jobseekers">Search Jobseekers</a></li>
                    <li><a class="nav-link scrollto" href="/listjob">List New Job</a></li>
                    <!-- <li><a class="nav-link scrollto" href="#team">Team</a></li>
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li> -->
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

            <div class="header-social-links d-flex align-items-center">
                <a href="https://twitter.com/JobListing4" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com/Joblisitng" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/joblistingportal/" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com/company/joblisting-com/about/" class="google"><i class="bi bi-google"></i></a>
                <a href="https://www.linkedin.com/in/joblisting-01/" class="linkedin"><i class="bi bi-linkedin"></i></i></a>

            </div>
            <div class="header-social-links d-flex" style="padding-top:20px; ">
                <a>@Html.Partial("_LanguagePartial")</a>
            </div>
            <style>
                #google_translate_element select {
                    margin-top: -2px;
                    border-color: #34ba08;
                }
            </style>
        </div>
    </header><!-- End Header -->

    <main id="main">
        <!-- ======= About Us Section ======= -->
        <section id="about-us" class="about-us">
            <div class="container" data-aos="fade-up">

                <div class="row content">
                    <div class="col-lg-6" data-aos="fade-right">
                        <h2>Find Job, Employment and Career opportunities</h2>
                        <h3>The Easiest Way to Get Your Dream Job</h3>
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
                        <p>
                            JobListing is a global website that facilitates job hunting and range from small, medium to large scale as well as cross-sector categories such as green jobs, ethical jobs, freelance and seasonal jobs.
                        </p>
                        <p>
                            JobListing is a global website that facilitates job hunting and range from small, medium to large scale as well as cross-sector categories such as green jobs, ethical jobs, freelance and seasonal jobs.
                        </p>
                    </div>
                </div>

            </div>
        </section><!-- End About Us Section -->
        <!-- ======= Features Section ======= -->
        @Html.Partial("_Services")<!-- End Features Section -->
        <style>


            /* Style the tab */
            .tab {
                overflow: hidden;
                border: 1px solid #ccc;
                background-color: #f1f1f1;
                justify-content: center;
                margin-bottom: 10px;
            }

                /* Style the buttons inside the tab */
                .tab button {
                    background-color: #34ba08 inherit;
                    float: left;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    padding: 14px 16px;
                    transition: 0.3s;
                    font-size: 17px;
                }

            .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
                background-color: #34ba08 !important;
                color: white;
            }




            /* Change background color of buttons on hover */


            /* Style the tab content */
            .tabcontent {
                display: none;
                padding: 6px 12px;
                border: 1px solid #ccc;
                border-top: none;
                background: black;
                color: white;
            }

                .tabcontent p {
                    color: white;
                }
        </style>


        <div class="container" style="padding-top: 20px; background: #34ba08; border-bottom: 13px solid #34ba08;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <span style="color: #000;">Apply process</span>
                        <h2 style="padding-bottom: 20px;color: white;"> How it works</h2>
                    </div>
                </div>
            </div>
            <ul class="nav nav-pills nav-justified" style="background-color: #f1f1f1;">
                <li class="nav-item tab">
                    <button class="nav-link tablinks btn-primary" style="color: black; background-color: white; font-weight: bold;" onclick="openCity(event, 'London')" id="defaultOpen">Search a job</button>
                </li>
                <li class="nav-item links ">
                    <a class="nav-link" style="padding-top: 18px; font-size: 25px; font-weight: bold;"><i class="bi bi-arrow-right " style="color: #34ba08;"></i></a>
                </li>
                <li class="nav-item tab">
                    <button class="nav-link tablinks btn-primary" style="color: black; background-color: white; font-weight: bold;" onclick="openCity(event, 'Paris')">Apply for job</button>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" style="padding-top: 18px; font-size: 25px; font-weight: bold;"><i class="bi bi-arrow-right" style="color: #34ba08; font-weight: bold;"></i></a>
                </li>
                <li class="nav-item tablinks tab">
                    <button class="nav-link tablinks btn-primary" style="color: black; background-color: white; font-weight:bold;" onclick="openCity(event, 'Tokyo')">Get your job</button>
                </li>

            </ul>

            <div id="London" class="tabcontent">
                <br />
                <p>
                    Click the  Search Jobs at the top of homepage.<br />
                    Click the Search jobs field and enter keywords or a company name.<br />
                    You can also select from the job roles suggested by Joblisting  based on your qualification and experience.
                </p>
            </div>

            <div id="Paris" class="tabcontent">
                <br />
                <p>
                    Easy Apply: This allows you to apply for the job on Joblisting.<br />
                    Apply: You’ll be redirected to the company website where you can apply for the job externally.
                </p>
            </div>

            <div id="Tokyo" class="tabcontent">
                <br />
                <p>Get your dream job in  Joblisting </p>
            </div>
        </div>
        <script>
            function openCity(evt, cityName) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " active";
            }
            document.getElementById("defaultOpen").click();
        </script>
        <!--<section id="call-to-action">

        <div class="container">-->
        <!-- Section Tittle -->
        <!--<div class="row">
            <div class="col-lg-12">
                <div class="section-tittle white-text text-center">
                    <span style="color: #34ba08;">Apply process</span>
                    <h2 style="padding-bottom: 60px;color: #fff;"> How it works</h2>
                </div>
            </div>
        </div>-->
        <!-- Apply Process Caption -->
        <!--<div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-process text-center mb-30">
                            <div class="process-ion">
                                <span class="flaticon-search"></span>
                            </div>
                            <div class="process-cap">
                                <h5 style="color: #fff;">1. Search a job</h5>
                                <p style="color: #fff;">Sorem spsum dolor sit amsectetur adipisclit, seddo eiusmod tempor incididunt ut laborea.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-process text-center mb-30">
                            <div class="process-ion">
                                <span class="flaticon-curriculum-vitae"></span>
                            </div>
                            <div class="process-cap">
                                <h5 style="color: #fff;">2. Apply for job</h5>
                                <p style="color: #fff;">Sorem spsum dolor sit amsectetur adipisclit, seddo eiusmod tempor incididunt ut laborea.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-process text-center mb-30">
                            <div class="process-ion">
                                <span class="flaticon-tour"></span>
                            </div>
                            <div class="process-cap">
                                <h5 style="color: #fff;">3. Get your job</h5>
                                <p style="color: #fff;">Sorem spsum dolor sit amsectetur adipisclit, seddo eiusmod tempor incididunt ut laborea.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>-->
        <br /><br />
        <div class="container-fluid">
            <style>
                .process-cap {
                    background-color: black;
                    color: white;
                }


                .job-card-buttons {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 10px;
                    width: 100%;
                }

                .search-buttons {
                    border-color: #34ba08;
                    color: black;
                    /*//color: var(--button-color);
                            //background-color: var(--active-color);*/
                    background-color: #ffffff;
                    padding: 8px 10px;
                    border-radius: 6px;
                    font-size: 11px;
                    font-weight: 600;
                    margin-top: 14px;
                }

                .bookmarkview {
                    color: #FFFFFF;
                    background-color: #34ba08;
                    padding: 8px 10px;
                    border-radius: 6px;
                    font-size: 11px;
                    font-weight: 600;
                    margin-top: 14px;
                    cursor: none;
                }

                    .bookmarkview:hover {
                        background-color: white;
                        color: white;
                    }

                    .bookmarkview:focus {
                        background-color: #34ba08;
                        color: white;
                    }

                .search-buttons {
                    background-color: var(--inactive-color);
                    font-size: 11px;
                    padding: 6px 8px;
                    margin-top: 0;
                    font-weight: 500;
                }

                .card-buttons,
                .card-buttons-msg {
                    padding: 5px;
                    width: 100%;
                    font-size: 12px;
                    cursor: pointer;
                }


                .card-buttons-override {
                    background-color: #34ba08 !important;
                    text-align: center;
                    color: white;
                }

                .title1 {
                    height: 75px;
                    font-weight: 600;
                    font-size: 14px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding-top: 10px;
                }

                .imgf {
                    margin: 7px;
                }
            </style>
            <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">Latest Jobs</h1>
            <div class="row">
                @if (ViewBag.LatestJob1 != null)
                {
                    foreach (LatestJob latestJob in ViewBag.LatestJob1)
                    {
                        <div class="col-lg-3 col-xl-3 col-md-4 col-sm-6 col- shadow" style="margin-bottom:25px;">
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-sm-4">
                                    @Html.Raw(string.Format("<text><span><img  height='100' width='100' src=\"/Image/Avtar/" + latestJob.EmployerId + "\" /><span> </text>"))

                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-8">
                                    <p class="title1">@Html.Raw(latestJob.Title)</p>
                                    <b>Location: </b> @Html.Raw(string.Format("{0} {1}", latestJob.Country, latestJob.City))<br />

                                    <b>Status: </b>  &nbsp;&nbsp;&nbsp; @Html.Raw(latestJob.Status)
                                </div>
                            </div>
                            <div class="job-card-buttons">
                                <div class="search-buttons card-buttons detail-btn-override">
                                    <button class="search-buttons card-buttons detail-btn-override">
                                        @Html.Raw(latestJob.JobType)
                                    </button>
                                </div>
                                <div class="search-buttons card-buttons detail-btn-override">
                                    <button class="search-buttons card-buttons detail-btn-override">
                                        @Html.Raw(latestJob.MinimumExperience)
                                    </button>
                                </div>
                                <div class="search-buttons card-buttons detail-btn-override">
                                    <button class="search-buttons card-buttons detail-btn-override">
                                        @Html.Raw(latestJob.JobLevel)
                                    </button>
                                </div>
                            </div>
                            <div class="job-card-buttons" style="padding-bottom:10px;">
                                @Html.ActionLink("View", "View", "job", new { Id = latestJob.JobID }, new { target = "_blank", @class = "card-buttons card-buttons-override bookmarkview" })
                                @Html.ActionLink("Share", "Email", "job", new { Id = latestJob.JobID }, new { target = "_blank", @class = "card-buttons card-buttons-override bookmarkview" })
                                @Html.ActionLink("Bookmark", "BookMarkedJobs", "JobSeeker", new { Id = latestJob.JobID }, new { target = "_blank", title = "Bookmark this job.", @class = "card-buttons card-buttons-override bookmarkview" })
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <br />
        <br />

        <div class="container-fluid">
            <div class="row" style="padding-right:15px; padding-left:15px;">
                <h1 class="text-center"><b>Our Customers</b></h1>
                <div class="col-sm-12">
                    <style>
                        .imgf {
                            padding: 15px;
                        }
                    </style>
                    <marquee behavior="alternate">
                        @foreach (var item in ViewBag.Model)
                        {

                            @Html.Raw(string.Format("<text ><img padding-left='25px' height='100' width='150' float='left' class='imgf'  src=\"data:image/jpg;base64," + (item["Logo"]) + " \" /> </text>"));

                        }
                    </marquee>
                </div>
            </div>
        </div>
        <br />
        <!-- End Contact Section -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    @Html.Partial("_footer")
    <!-- End Footer -->
    @*<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>*@

    <!-- Vendor JS Files -->
    <script src="~/Content/Homesinga/assetsmalsya/vendor/purecounter/purecounter.js"></script>
    <script src="~/Content/Homesinga/assetsmalsya/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/Homesinga/assetsmalsya/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Content/Homesinga/assetsmalsya/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Content/Homesinga/assetsmalsya/js/main.js"></script>

</body>

</html>