@model JobPortal.Web.Models.SearchJobModel
@using JobPortal.Library.Constants
@using JobPortal.Library.Enumerators
@using JobPortal.Library.Helpers
@using JobPortal.Domain
@using JobPortal.Models
@using System.Text;
@using System.Collections
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="hi">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Jobs in India | Search India Jobs, Employment -JobLisiting</title>
    <meta content="Job Listing India is your one-stop destination for the top job vacancies in India. Browse through hundreds of the latest job postings and apply for the perfect job today. With our user-friendly interface and tailored job search, we make it easy for job seekers to find the right job in India." name="description">
    <meta content="India Jobs, Employment in India,  careers,  employment,  job listings,  India job search,  job search engine India, work in India , jobs in India" name="keywords">

    <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
    <meta property="og:title" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">

    <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">

    <!-- Favicons -->
    <link href="~/Content/Homesinga/assetsmalsya/img/favicon.png" rel="icon">
    <!-- <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:400,900" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/Homesinga/assetsmalsya/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Homesinga/assetsmalsya/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Content/Homesinga/assetsmalsya/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Content/Homesinga/assetsmalsya/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Bell - v4.6.0
    * Template URL: https://bootstrapmade.com/bell-free-bootstrap-4-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>
    <style>
        .social-icons a {
            color: #FFFFFF;
            font-size: 16px;
            border-radius: 50%;
            background-color: black;
            display: inline-block;
            text-align: center;
            border: 1px solid #fff;
            width: 28px;
            height: 28px;
            line-height: 20px;
            margin: 0.50px;
            opacity: 0.85;
            padding: 4.7px;
        }

            .social-icons a:hover {
                color: white;
            }
    </style>
    @* <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>
        <script>

            // function loadGoogleTranslate() { new google.translate.TranslateElement("google_translate_element"); }

            function loadGoogleTranslate() {
                setCookie('googtrans', '/hi', 1);
                new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
            }
            function setCookie(key, value, expiry) {
                var expires = new Date();
                expires.setTime(expires.getTime() + (expiry * 24 * 60 * 60 * 1000));
                document.cookie = key + '=' + value + ';expires=' + expires.toUTCString();
            }
        </script>*@
    <img class="conatiner2" src="~/Content/chatbotnew/ChatWithUS.png" onclick="openForm()" alt="cwt" height="70" width="90" />
    <link href="~/Content/chatbotnew/chatbotstyle.css" rel="stylesheet" />
    <script src="~/Content/chatbotnew/chatbotjquerry.js"></script>
    <div class="container1" id="myForm">
        <div class="chat-header">
            <div class="logo">
                <!-- <img src="images/ChatWithUS.png" alt="cwt" /> -->
            </div>
            <div class="title" onclick="closeForm()">
                <!-- Let's Chat -->
                <img src="~/Content/chatbotnew/ChatWithUS.png" alt="cwt" />

            </div>
        </div>
        <div class="chat-body">
            <p class="chatbot-message">Hi I am Lovely </p>
            <p class="chatbot-message">Select below options to serve better</p>
            <p>
                <button type="button" value="Student" class="btn bodybox1" id="bodybox1">Students</button>
                <button type="button" value="Interns" class="btn bodybox1" id="bodybox2">Interns</button>
                <button type="button" value="Jobseekers" class="btn bodybox1" id="bodybox3">Jobseekers</button>
                <button type="button" value="Employers" class="btn bodybox1" id="bodybox4">Employers</button>
                <button type="button" value="Recruitment Agency" class="btn bodybox1" id="bodybox5">Recruitment Agency</button>
                <button type="button" value="Institutes" class="btn bodybox1" id="bodybox6">Institutes</button>
                <button type="button" value="Freelancers" class="btn bodybox1" id="bodybox7">Freelancers</button>
                <button type="button" value="Partners" class="btn bodybox1" id="bodybox8">Partners</button>
            </p>
            <div class="loading hide">
                <div class="circle circle-1"></div>
                <div class="circle circle-2"></div>
                <div class="circle circle-3"></div>
            </div>
        </div>
        <div class="chat-input" style="background-color: white;">
            <div class="input-sec">
                <input type="text" id="txtInput" placeholder="Type here..." autofocus />
            </div>
            <div class="send">
                @*<img src="~/Content/chatbotnew/send.jpeg" style="width:59px; height: 53px;" alt="send" />*@
                <button type="button" style="border: 1px solid #34ba08; border-radius:7px; width: 100px; height: 40px;">SEND</button>
            </div>
        </div>
    </div>
    <script src="~/Content/chatbotnew/app.js"></script>
    <script src="~/Content/chatbotnew/response.js"></script>

    <!-- ======= Hero Section ======= -->
    @*<img src="~/Images/india_1.jpg" />*@
    <section id="hero" class="hero" style=" background-image: url('../../images1/india.jpg');">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12">
                    <a class="hero-brand" href="/India" title="Home">
                        <div class="navbar-header" style="font-size:80px; font-weight:600;">@*<a href="~/Content/fonts/aldhabi.ttf" alt="Joblisting" height="150" width="350" class="img-responsive">*@<span class="span1" style="color: #34ba08; font-style: inherit; font-family: 'Adobe Devanagari'">Job</span> <span class="span2" style="color: white; font-style: inherit; font-family: 'Adobe Devanagari'">Listing</span>@*</a>*@</div>

                        @*<img alt="Bell Logo" src="~/Content/Homesinga/assetsmalsya/img/PNG/logo_tool.png" width="250" height="65" class="m-0">*@
                    </a>
                </div>
            </div>

            <div class="col-md-12">
                @*<h1 style="font-size: 52px;">
                        Find Latest Jobs in India, Recruitment, Job Search & Employment Opportunities
                    </h1>*@
                <h1 style="font-size: 52px;">
                    Find Latest Jobs, Part-Time & Freelance Opportunities
                </h1>
                @*<p class="tagline">
                        Job search made easy with India's top job listings, all in one place!
                    </p>*@
                <p class="tagline">
                    Job search made easy with Global job listings in a Local Language!
                </p>
                <div class="row">
                    <div class="col" style="text-align: right;">

                        <a href="/account/login" style="background-color: #34ba08;" class="btn btn-full scrollto">Login</a>
                    </div>

                    <div class="col" style="text-align: left;">

                        <a href="/account/register" style="background-color: #34ba08;" class="btn btn-full scrollto">Register</a>
                    </div>

                </div>
                <!-- <a class="btn btn-full scrollto" href="#about">Get Started Now</a> -->
            </div>
        </div>

    </section><!-- End Hero -->
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center">

            <div id="logo" class="me-auto">
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt=""></a> -->
                <!-- Uncomment below if you prefer to use a text image -->
                <!-- <h1><a href="#hero">Job Listing</a></h1> -->
            </div>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto active" href="/india/jobs">Search Jobs</a></li>
                    @*<li><a class="nav-link scrollto" href="/search-people">Search People</a></li>*@
                    <li><a class="nav-link scrollto" href="/search-jobseekers">Search Jobseekers</a></li>
                    <li><a class="nav-link scrollto" href="/listjob">List Job</a></li>
                    <!-- <li><a class="nav-link scrollto" href="#team">Team</a></li>
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li> -->
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

            <div class="social-icons" style="width:200px;height:32px; margin:20px; margin-right:-20px">
                @*<div class="header-social-links d-flex align-items-center">*@
                <a href="https://twitter.com/JobListing4" class="twitter">
                    <ion-icon name="logo-twitter"></ion-icon>
                    @*<i class="bi bi-twitter twitter-color"></i>*@
                </a>

                <a href="https://www.facebook.com/Joblisitng" class="facebook">
                    <ion-icon name="logo-facebook"></ion-icon>
                    @*<i class="bi bi-facebook facebook-color"></i>*@
                </a>

                <a href="https://www.instagram.com/joblistingportal/" class="instagram">
                    <ion-icon name="logo-instagram"></ion-icon>
                    @*<i class="bi bi-instagram instagram-color"></i>*@
                </a>

                <a href="https://www.linkedin.com/in/joblisting-01/" class="linkedin">
                    <ion-icon name="logo-linkedin"></ion-icon>
                    @*<i class="bi bi-linkedin linkedin-color"></i>*@
                </a>
                <a href="https://www.googleplus.com/in/joblisting-01/" class="google">
                    <ion-icon name="logo-google"></ion-icon>
                    @*<i class="bi bi-google google-color"></i>*@
                </a>
                <a href="https://www.yahoo.com/in/joblisting-01/" class="yahoo">
                    <ion-icon name="logo-yahoo"></ion-icon>
                    @*<i class="bi bi-yahoo yahoo-color"></i>*@
                </a>
                @*<a href="https://twitter.com/JobListing4" class="twitter"><i class="bi bi-twitter twitter-color"></i></a>
                    <a href="https://www.facebook.com/Joblisitng" class="facebook"><i class="bi bi-facebook facebook-color"></i></a>
                    <a href="https://www.instagram.com/joblistingportal/" class="instagram"><i class="bi bi-instagram instagram-color"></i></a>
                    @*<a href="https://www.linkedin.com/company/joblisting-com/about/" class="google"><i class="bi bi-google"></i></a>*@
                @*<a href="https://www.linkedin.com/in/joblisting-01/" class="linkedin"><i class="bi bi-linkedin linkedin-color"></i></a>
                    @*<a href="https://www.whatsapp.com/Joblisitng" class="whatsapp"><i class="bu bi-whatsapp"></i></a>*@
            </div>
            <style>
                .twitter-color {
                    color: black; /* Twitter's official blue color */
                }

                .facebook-color {
                    color: black; /* Facebook's official blue color */
                }

                .instagram-color {
                    color: black; /* Instagram's official gradient color */
                }

                .linkedin-color {
                    color: black; /* LinkedIn's official blue color */
                }
            </style>
            <style>
                #google_translate_element select {
                    width: 120px;
                    height: 32px;
                    margin-top: -2px;
                    border-color: #34ba08;
                }
            </style>
            <div class="header-social-links d-flex" style="padding-top:20px;right:150px;">
                <a>@Html.Partial("_LanguagePartial")</a>
            </div>
            <style>
                #google_translate_element select {
                    margin-top: -2px;
                    border-color: #34ba08;
                }
            </style>
        </div>
    </header><!-- End Header -->

    <main id="main">
        <div style="height:15px;"></div>
        <section id="about-us" class="about-us">
            <div class="container" data-aos="fade-up">

                <div class="row content">
                    <div class="col-lg-6" data-aos="fade-right">
                        <h2>Find Job, Part-Time & Freelance opportunities</h2>
                        <h3>The Easiest Way to Get Your Dream Job</h3>
                    </div>
                    <div class="col-lg-6 pt-5 pt-lg-3" data-aos="fade-left">
                        @*<p>
                                JobListing is a global website that facilitates job hunting and range from small, medium to large scale as well as cross-sector categories such as green jobs, ethical jobs, freelance and seasonal jobs.
                            </p>*@
                        <p>
                            Job Listing is a global Jobsite that gives access to a wide range of jobs across several categories such as green jobs, freelance and part-time jobs in local languages.
                        </p>
                        <p>
                            Companies of any size across the globe can search jobseekers of various categories, communicate, recruit for less Price. Companies, Agencies & Partners can get great margins on their recruitment efforts.

                        </p>
                    </div>
                </div>

            </div>
        </section>

        <!-- ======= Features Section ======= -->
        @Html.Partial("_Services")<!-- End Features Section -->
        <style>


            /* Style the tab */
            .tab {
                overflow: hidden;
                border: 1px solid #ccc;
                background-color: #f1f1f1;
                justify-content: center;
                margin-bottom: 10px;
            }

                /* Style the buttons inside the tab */
                .tab button {
                    background-color: #34ba08 inherit;
                    float: left;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    padding: 14px 16px;
                    transition: 0.3s;
                    font-size: 17px;
                }

            .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
                background-color: #34ba08 !important;
                color: white;
            }




            /* Change background color of buttons on hover */


            /* Style the tab content */
            .tabcontent {
                display: none;
                padding: 6px 12px;
                border: 1px solid #ccc;
                border-top: none;
                background: black;
                color: white;
            }

                .tabcontent p {
                    color: white;
                }
        </style>


        @* <div class="container" style="padding-top: 20px; background: #34ba08; border-bottom: 13px solid #34ba08;">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <span style="color: #000;">Apply process</span>
                            <h2 style="padding-bottom: 20px;color: white;"> How it works ?</h2>
                        </div>
                    </div>
                </div>
                <ul class="nav nav-pills nav-justified" style="background-color: #f1f1f1;">
                    <li class="nav-item tab">
                        <button class="nav-link tablinks btn-primary" style="color: black; background-color: white; font-weight: bold;" onclick="openCity(event, 'London')" id="defaultOpen">Search a job</button>
                    </li>
                    <li class="nav-item links ">
                        <a class="nav-link" style="padding-top: 18px; font-size: 25px; font-weight: bold;"><i class="bi bi-arrow-right " style="color: #34ba08;"></i></a>
                    </li>
                    <li class="nav-item tab">
                        <button class="nav-link tablinks btn-primary" style="color: black; background-color: white; font-weight: bold;" onclick="openCity(event, 'Paris')">Apply for job</button>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" style="padding-top: 18px; font-size: 25px; font-weight: bold;"><i class="bi bi-arrow-right" style="color: #34ba08; font-weight: bold;"></i></a>
                    </li>
                    <li class="nav-item tablinks tab">
                        <button class="nav-link tablinks btn-primary" style="color: black; background-color: white; font-weight:bold;" onclick="openCity(event, 'Tokyo')">Get your job</button>
                    </li>

                </ul>

                <div id="London" class="tabcontent">
                    <br />
                    <p>
                        Click the  Search Jobs at the top of homepage.<br />
                        Click the Search jobs field and enter keywords or a company name.<br />
                        You can also select from the job roles suggested by Joblisting  based on your qualification and experience.
                    </p>
                </div>

                <div id="Paris" class="tabcontent">
                    <br />
                    <p>
                        Easy Apply: This allows you to apply for the job on Joblisting.<br />
                        Apply: You’ll be redirected to the company website where you can apply for the job externally.
                    </p>
                </div>

                <div id="Tokyo" class="tabcontent">
                    <br />
                    <p>Get your dream job in  Joblisting </p>
                </div>
            </div>*@
        <script>
            function openCity(evt, cityName) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " active";
            }
            document.getElementById("defaultOpen").click();
        </script>

        <br /><br />
        <div class="container-fluid">
            <style>
                .process-cap {
                    background-color: black;
                    color: white;
                }


                .job-card-buttons {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 10px;
                    width: 100%;
                }

                .search-buttons {
                    border-color: #34ba08;
                    color: black;
                    /*//color: var(--button-color);
                            //background-color: var(--active-color);*/
                    background-color: #ffffff;
                    padding: 8px 10px;
                    border-radius: 6px;
                    font-size: 11px;
                    font-weight: 600;
                    margin-top: 14px;
                }

                .bookmarkview {
                    color: #FFFFFF;
                    background-color: #34ba08;
                    padding: 8px 10px;
                    border-radius: 6px;
                    font-size: 11px;
                    font-weight: 600;
                    margin-top: 14px;
                    cursor: none;
                }

                    .bookmarkview:hover {
                        background-color: white;
                        color: white;
                    }

                    .bookmarkview:focus {
                        background-color: #34ba08;
                        color: white;
                    }

                .search-buttons {
                    background-color: var(--inactive-color);
                    font-size: 11px;
                    padding: 6px 8px;
                    margin-top: 0;
                    font-weight: 500;
                }

                .card-buttons,
                .card-buttons-msg {
                    padding: 5px;
                    width: 100%;
                    font-size: 12px;
                    cursor: pointer;
                }


                .card-buttons-override {
                    background-color: #34ba08 !important;
                    text-align: center;
                    color: white;
                }

                .title1 {
                    height: 75px;
                    font-weight: 600;
                    font-size: 14px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding-top: 10px;
                }

                .imgf {
                    margin: 7px;
                }
            </style>
            @*<h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">Latest Jobs</h1>*@
            <div class="row">
                @if (ViewBag.LatestJob1 != null)
                {
                    foreach (LatestJob latestJob in ViewBag.LatestJob1)
                    {
                        <div class="col-lg-3 col-xl-3 col-md-4 col-sm-6 col- shadow" style="margin-bottom:25px;">
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                                    @Html.Raw(string.Format("<text><span><img class='img-fluid' height='100' width='100' src=\"/Image/Avtar/" + latestJob.EmployerId + "\" /><span> </text>"))

                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-7">
                                    <p class="title1">@Html.Raw(latestJob.Title)</p>
                                    <b>Location: </b> @Html.Raw(string.Format("{0} {1}", latestJob.Country, latestJob.City))<br />

                                    <b>Status: </b>  &nbsp;&nbsp;&nbsp; @Html.Raw(latestJob.Status)
                                </div>
                            </div>
                            <div class="job-card-buttons">
                                <div class="search-buttons card-buttons detail-btn-override">
                                    <button class="search-buttons card-buttons detail-btn-override">
                                        @Html.Raw(latestJob.JobType)
                                    </button>
                                </div>
                                <div class="search-buttons card-buttons detail-btn-override">
                                    <button class="search-buttons card-buttons detail-btn-override">
                                        @Html.Raw(latestJob.MinimumExperience)
                                    </button>
                                </div>
                                <div class="search-buttons card-buttons detail-btn-override">
                                    <button class="search-buttons card-buttons detail-btn-override">
                                        @Html.Raw(latestJob.JobLevel)
                                    </button>
                                </div>
                            </div>
                            <div class="job-card-buttons" style="padding-bottom:10px;">
                                @Html.ActionLink("View", "View", "job", new { Id = latestJob.JobID }, new { target = "_blank", @class = "card-buttons card-buttons-override bookmarkview" })
                                @Html.ActionLink("Share", "Email", "job", new { Id = latestJob.JobID }, new { target = "_blank", @class = "card-buttons card-buttons-override bookmarkview" })
                                @Html.ActionLink("Bookmark", "BookMarkedJobs", "JobSeeker", new { Id = latestJob.JobID }, new { target = "_blank", title = "Bookmark this job.", @class = "card-buttons card-buttons-override bookmarkview" })
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <br />
        <br />

        @* <div class="container-fluid">
                <div class="row" style="padding-right:15px; padding-left:15px;">
                    <h1 class="text-center"><b>Our Customers</b></h1>
                    <div class="col-sm-12">
                        <style>
                            .imgf {
                                padding: 15px;
                            }
                        </style>
                        <marquee behavior="alternate">
                            @foreach (var item in ViewBag.Model)
                            {

                                @Html.Raw(string.Format("<text ><img padding-left='25px' height='100' width='150' float='left' class='imgf'  src=\"data:image/jpg;base64," + (item["Logo"]) + " \" /> </text>"));

                            }
                        </marquee>
                    </div>
                </div>
            </div>*@
        <br />
        <!-- End Contact Section -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    @*<footer class="site-footer">
            <div class="bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-xs-12 text-lg-start text-center">
                            <p class="copyright-text">
                                &copy; Copyright <strong>Job Listing</strong>. All Rights Reserved
                            </p>

                        </div>
                        <div class="col-lg-3 col-xs-12 text-lg-right text-center">
                            <p>Powered by Accuracy</p>
                        </div>
                        <div class="col-lg-5 col-xs-12 text-lg-right text-center">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a href="/home/aboutus">About</a>
                                </li>

                                <li class="list-inline-item">
                                    <a href="/home/contact">Contact Us</a>
                                </li>

                                <li class="list-inline-item">
                                    <a href="/privacy">Privacy Policy</a>
                                </li>

                                <li class="list-inline-item">
                                    <a href="/terms">Terms of Use</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </footer>*@

    @Html.Partial("_footer")
    <!-- End Footer -->
    @*<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>*@

    <!-- Vendor JS Files -->
    <script src="~/Content/Homesinga/assetsmalsya/vendor/purecounter/purecounter.js"></script>
    <script src="~/Content/Homesinga/assetsmalsya/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/Homesinga/assetsmalsya/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Content/Homesinga/assetsmalsya/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Content/Homesinga/assetsmalsya/js/main.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>