@model JobPortal.Web.Models.SearchCompanyModel
@using JobPortal.Library.Constants
@using JobPortal.Library.Enumerators
@using JobPortal.Library.Helpers
@using JobPortal.Domain
@using JobPortal.Models
@using PagedList.Mvc
@using PagedList
@{ Layout = "~/Views/Shared/_CommonLayout.cshtml";
    UserInfoEntity user = null;
    if (User != null)
    {
        user = User.Info;
    }
    var pagedModel = ViewBag.LatestJobs as PagedList.IPagedList<JobPortal.Models.Companies>;
}

<style>
    #body {
        background: #ffffff none repeat scroll 0 0 !important;
    }

    .right-side-bar {
        background: #fff none repeat scroll 0 0;
        border-bottom: 1px solid #e4e4e4;
    }

    .sponsored {
        background: #ffffff;
    }

    .sponsored {
        background: #fff none repeat scroll 0 0;
        padding: 15px 15px 0;
    }

    .abcdesign {
        margin: 0 0 18px 0;
    }

        .abcdesign > h3 {
            color: #333;
            font-size: 14px;
            margin: 0 0 11px 0;
        }

    .sub-heading h2 {
        color: #000;
        font-size: 14px;
        margin: 0 0 20px;
        padding-bottom: 6px;
        position: relative;
        font-weight: bold;
    }

        .sub-heading h2::after {
            border-bottom: 2px solid #e93100;
            bottom: 0;
            content: "";
            display: block;
            left: 0;
            position: absolute;
            width: 100%;
        }

    .news {
        border-bottom: 2px solid #f5f5f5;
        margin-bottom: 20px;
        min-height: 54px;
        position: relative;
    }

    .news-img {
        position: absolute;
        margin-bottom: 10px;
        font-size: 75px;
        font-weight: 700;
        height: 54px;
        width: 54px;
        background-color: #fff;
    }

        .news-img::after {
            content: "";
            display: block;
            height: 0;
            padding-bottom: 100%;
            width: 100%;
        }

    .news-content {
        margin-left: 63px;
    }

        .news-content > h3 {
            font-size: 13px;
            margin: 0;
            color: #222222;
            font-family: 'Roboto', sans-serif;
        }

        .news-content a {
            color: #333;
        }

            .news-content a:hover {
                color: #34ba08;
            }

        .news-content > h4 {
            color: #999898;
            font-size: 10px;
            margin: 7px 0 0 0;
        }

        .news-content > p {
            color: #222222;
            font-family: 'Roboto', sans-serif;
            font-size: 11px;
            line-height: 16px;
            padding: 4px 0 0;
        }

            .news-content > p:last-child {
                margin: 0;
            }

    .left-col {
        padding-right: 6px;
        width: 81.25%;
    }

    .right-col {
        padding-left: 6px;
        width: 202px;
    }

    @@media (max-width: 320px) {
        .right-col {
            padding-left: 15px !important;
            width: 100% !important;
        }

        .left-col {
            padding-right: 15px !important;
            width: 100% !important;
        }
    }

    @@media only screen and (max-width:360px) {
        .right-col {
            padding-left: 15px !important;
            width: 100% !important;
        }

        .left-col {
            padding-right: 15px !important;
            width: 100% !important;
        }
    }

    @@media only screen and (max-width:384px) {
        .right-col {
            padding-left: 15px !important;
            width: 100% !important;
        }

        .left-col {
            padding-right: 15px !important;
            width: 100% !important;
        }
    }

    @@media only screen and (max-width:600px) {
        .right-col {
            padding-left: 15px !important;
            width: 100% !important;
        }

        .left-col {
            padding-right: 15px !important;
            width: 100% !important;
        }
    }

    @@media screen and (max-width:800px) {
        .right-col {
            padding-left: 6px;
            width: 202px;
        }

        .left-col {
            padding-right: 6px !important;
            width: 73%;
        }
    }

    .seemore {
        text-align: right;
    }

        .seemore > a {
            color: #000000;
            font-family: "Roboto", sans-serif;
            font-size: 12px;
            font-weight: 700;
        }

        .seemore i {
            font-size: 16px;
            padding: 0 0 0 5px;
            vertical-align: middle;
        }

    .cdate {
        padding-left: 0px;
        list-style-type: none;
    }

        .cdate li {
            display: inline-block;
            width: auto;
        }

    .job-photo {
        border-radius: 8px;
        border: 2px solid #ede9e9;
        width: 46px;
        height: 46px;
    }

    .card-buttons-override {
        background-color: #34ba08 !important;
        text-align: center;
    }

    .detail-btn-override {
        background-color: var(--active-light-color) !important;
        color: var(--active-color) !important;
        font-size: 11px !important;
        font-weight: 500 !important;
    }

    .bookmark-btn {
        margin-right: 12px;
        background-color: #34ba08 !important;
        text-align: center;
    }
</style>
<style type="text/css">
    @@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

    * {
        outline: none;
        box-sizing: border-box;
    }

    :root {
        --body-bg-color: #e5ecef;
        --theme-bg-color: #fafafb;
        --body-font: "Poppins", sans-serif;
        --body-color: #2f2f33;
        --active-color: #34ba08;
        --active-light-color: #e1ebfb;
        --header-bg-color: #fff;
        --search-border-color: #efefef;
        --border-color: #d8d8d8;
        --alert-bg-color: #e8f2ff;
        --subtitle-color: #83838e;
        --inactive-color: #f0f0f0;
        --placeholder-color: #9b9ba5;
        --time-button: #fc5757;
        --level-button: #fff;
        --button-color: #fff;
    }

    .dark-mode {
        --body-bg-color: #1d1d1d;
        --theme-bg-color: #13131a;
        --header-bg-color: #1c1c24;
        --alert-bg-color: #292932;
        --body-color: #fff;
        --inactive-color: #292932;
        --time-button: #fff;
        --level-button: #fff;
        --active-light-color: #263d63;
        --border-color: #26262f;
        --search-border-color: #26262f;
    }

    ::-moz-placeholder {
        color: var(--placeholder-color);
    }

    :-ms-input-placeholder {
        color: var(--placeholder-color);
    }

    ::placeholder {
        color: var(--placeholder-color);
    }

    img {
        max-width: 100%;
    }

    html {
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
    }

    body {
        background-color: var(--body-bg-color);
        font-family: var(--body-font);
        font-size: 15px;
        color: var(--body-color);
    }

    .dark-light svg {
        margin-right: 8px;
        width: 22px;
        cursor: pointer;
        fill: transparent;
        transition: 0.5s;
    }

    .dark-mode .dark-light svg {
        fill: #ffce45;
        stroke: #ffce45;
    }

    .dark-mode .job-card svg {
        box-shadow: none;
    }

    .dark-mode .search.item {
        color: var(--body-color);
        border-color: var(--body-color);
    }

    .dark-mode .search-location svg,
    .dark-mode .search-job svg,
    .dark-mode .search-salary svg {
        color: var(--body-color);
    }

    .dark-mode .detail-button {
        background-color: var(--inactive-color);
        color: var(--subtitle-color);
    }

    .job {
        display: flex;
        flex-direction: column;
        max-width: 1400px;
        padding: 10px;
        margin: 0 auto;
        overflow: hidden;
        background-color: var(--theme-bg-color);
    }

    .logo {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 18px;
        cursor: pointer;
    }

        .logo svg {
            width: 24px;
            margin-right: 12px;
        }

    .header {
        display: flex;
        align-items: center;
        transition: box-shadow 0.3s;
        flex-shrink: 0;
        padding: 0 40px;
        white-space: nowrap;
        background-color: var(--header-bg-color);
        height: 60px;
        width: 100%;
        font-size: 14px;
        justify-content: space-between;
    }

    .header-menu a {
        text-decoration: none;
        color: var(--body-color);
        font-weight: 500;
    }

        .header-menu a:hover {
            color: var(--active-color);
        }

        .header-menu a:not(:first-child) {
            margin-left: 30px;
        }

        .header-menu a.active {
            color: var(--active-color);
        }

    .user-settings {
        display: flex;
        align-items: center;
        font-weight: 500;
    }

        .user-settings svg {
            width: 20px;
            color: #94949f;
        }

    .user-menu {
        position: relative;
        margin-right: 8px;
        padding-right: 8px;
        border-right: 2px solid #d6d6db;
    }

        .user-menu:before {
            position: absolute;
            content: "";
            width: 7px;
            height: 7px;
            border-radius: 50%;
            border: 2px solid var(--header-bg-color);
            right: 6px;
            top: -1px;
            background-color: var(--active-color);
        }

    .user-profile {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        -o-object-fit: cover;
        object-fit: cover;
        margin-right: 10px;
    }

    .wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        scroll-behavior: smooth;
        padding: 30px 20px;
        ;
        overflow: auto;
    }

    .search-menu {
        height: 56px;
        white-space: nowrap;
        display: flex;
        flex-shrink: 0;
        align-items: center;
        background-color: var(--header-bg-color);
        border-radius: 8px;
        width: 100%;
        padding-left: 20px;
    }

        .search-menu div:not(:last-of-type) {
            border-right: 1px solid var(--search-border-color);
        }

    .search-bar {
        height: 55px;
        width: 100%;
        position: relative;
    }

        .search-bar input {
            width: 100%;
            height: 100%;
            display: block;
            background-color: transparent;
            border: none;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%230162ff'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-size: 14px;
            background-position: 0 50%;
            padding: 0 25px 0 305px;
        }

    .search-location,
    .search-job,
    .search-salary {
        display: flex;
        align-items: center;
        width: 50%;
        font-size: 14px;
        font-weight: 500;
        padding: 0 25px;
        height: 100%;
    }

        .search-location input,
        .search-job input,
        .search-salary input {
            width: 100%;
            height: 100%;
            display: block;
            background-color: transparent;
            border: none;
        }

        .search-location svg,
        .search-job svg,
        .search-salary svg {
            margin-right: 8px;
            width: 18px;
            color: var(--active-color);
            flex-shrink: 0;
        }

    .search-button {
        background-color: var(--active-color);
        height: 55px;
        border: none;
        font-weight: 600;
        font-size: 14px;
        padding: 0 15px;
        border-radius: 0 8px 8px 0;
        color: var(--button-color);
        cursor: pointer;
        margin-left: auto;
    }

    .search.item {
        position: absolute;
        top: 10px;
        left: 25px;
        font-size: 13px;
        color: var(--active-color);
        border: 1px solid var(--search-border-color);
        padding: 8px 10px;
        border-radius: 8px;
        display: flex;
        align-items: center;
    }

        .search.item svg {
            width: 12px;
            margin-left: 5px;
        }

        .search.item:last-child {
            left: 185px;
        }

    .main-container {
        display: flex;
        flex-grow: 1;
        padding-top: 30px;
    }

    .search-type {
        width: 270px;
        display: flex;
        flex-direction: column;
        height: 100%;
        flex-shrink: 0;
    }

    .alert {
        background-color: var(--alert-bg-color);
        padding: 24px 18px;
        border-radius: 8px;
    }

    .alert-title {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 8px;
    }

    .alert-subtitle {
        font-size: 13px;
        color: var(--subtitle-color);
        line-height: 1.6em;
        margin-bottom: 20px;
    }

    .alert input {
        width: 100%;
        padding: 10px;
        display: block;
        border-radius: 6px;
        background-color: var(--header-bg-color);
        border: none;
        font-size: 13px;
    }

    .search-buttons {
        border: none;
        color: var(--button-color);
        background-color: var(--active-color);
        padding: 8px 10px;
        border-radius: 6px;
        font-size: 11px;
        font-weight: 600;
        margin-top: 14px;
    }

    .job-wrapper {
        padding-top: 20px;
    }

    .job-time {
        padding-top: 20px;
    }

    .job-time-title {
        font-size: 14px;
        font-weight: 500;
    }

    .search-buttons:hover {
        background-color: white;
        color: white;
    }

    .search-buttons:focus {
        background-color: #34ba08;
        color: white;
    }

    .type-container {
        display: flex;
        align-items: center;
        color: var(--subtitle-color);
        font-size: 13px;
    }

        .type-container label {
            margin-left: 2px;
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        .type-container + .type-container {
            margin-top: 10px;
        }

    .job-number {
        margin-left: auto;
        background-color: var(--inactive-color);
        color: var(--subtitle-color);
        font-size: 10px;
        font-weight: 500;
        padding: 5px;
        border-radius: 4px;
    }

    .job-style {
        display: none;
    }

        .job-style + label:before {
            content: "";
            margin-right: 10px;
            width: 16px;
            height: 16px;
            border: 1px solid var(--subtitle-color);
            border-radius: 4px;
            cursor: pointer;
        }

        .job-style:checked + label:before {
            background-color: var(--active-color);
            border-color: var(--active-color);
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3e%3cpath d='M20 6L9 17l-5-5'/%3e%3c/svg%3e");
            background-position: 50%;
            background-size: 14px;
            background-repeat: no-repeat;
        }

        .job-style:checked + label + span {
            background-color: var(--active-light-color);
            color: var(--active-color);
        }

    .searched-jobs {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        /* padding-left: 40px; */
    }

    @@-webkit-keyframes slideY {
        0% {
            opacity: 0;
            transform: translateY(200px);
        }
    }

    @@keyframes slideY {
        0% {
            opacity: 0;
            transform: translateY(200px);
        }
    }

    .searched-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        -webkit-animation: slideY 0.6s both;
        animation: slideY 0.6s both;
    }

    .searched-show {
        font-size: 19px;
        font-weight: 600;
    }

    .searched-sort {
        font-size: 14px;
        color: var(--subtitle-color);
    }

        .searched-sort .post-time {
            font-weight: 600;
            color: var(--subtitle-color);
        }

        .searched-sort .menu-icon {
            font-size: 9px;
            color: var(--placeholder-color);
            margin-left: 6px;
        }

    .job-cards {
        padding-top: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 25px;
        grid-row-gap: 25px;
        -webkit-animation: slideY 0.6s both;
        animation: slideY 0.6s both;
    }

    @@media screen and (max-width: 1212px) {
        .job-cards {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @@media screen and (max-width: 930px) {
        .job-cards {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .job-card {
        padding: 20px 16px;
        background-color: var(--header-bg-color);
        border-radius: 8px;
        cursor: pointer;
        transition: 0.2s;
    }

        .job-card:hover {
            transform: scale(1.02);
        }

        .job-card svg {
            width: 46px;
            padding: 10px;
            border-radius: 8px;
        }

    .job-card-title {
        font-weight: 600;
        font-size: 14px;
    }

    .job-card-subtitle {
        color: var(--subtitle-color);
        font-size: 13px;
        margin-top: 14px;
        line-height: 1.6em;
    }

    .job-card-header {
        display: flex;
        align-items: flex-start;
    }

    .overview-card:hover {
        background: #2b2ecf;
        transition: none;
        transform: scale(1);
    }

        .overview-card:hover svg {
            box-shadow: none;
        }

        .overview-card:hover .job-overview-buttons .search-buttons.time-button,
        .overview-card:hover .job-overview-buttons .search-buttons.level-button {
            background-color: #575ad8;
            color: #fff;
        }

        .overview-card:hover .job-card-title,
        .overview-card:hover .job-stat {
            color: #fff;
        }

        .overview-card:hover .job-card-subtitle,
        .overview-card:hover .job-day {
            color: #dedede;
        }

        .overview-card:hover .overview-wrapper .heart {
            color: #fff;
            border-color: #fff;
        }

            .overview-card:hover .overview-wrapper .heart:hover {
                fill: red;
                stroke: red;
                transform: scale(1.1);
            }

    .detail-button {
        background-color: var(--active-light-color);
        color: var(--active-color);
        font-size: 11px;
        font-weight: 500;
        padding: 6px 8px;
        border-radius: 4px;
    }

        .detail-button + .detail-button {
            margin-left: 4px;
        }

    .job-card-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 4px;
    }

    .card-buttons,
    .card-buttons-msg {
        padding: 5px;
        width: 100%;
        font-size: 12px;
        cursor: pointer;
    }

    .card-buttons {
        margin-right: 12px;
    }

    .card-buttons-msg {
        background-color: var(--inactive-color);
        color: var(--subtitle-color);
    }

    .menu-dot {
        background-color: var(--placeholder-color);
        box-shadow: -6px 0 0 0 var(--placeholder-color), 6px 0 0 0 var(--placeholder-color);
        width: 4px;
        height: 4px;
        border: 0;
        padding: 0;
        border-radius: 50%;
        margin-left: auto;
        margin-right: 8px;
    }

    .header-shadow {
        box-shadow: 0 4px 20px rgba(88, 99, 148, 0.17);
        z-index: 1;
    }

    @@-webkit-keyframes slide {
        0% {
            opacity: 0;
            transform: translateX(300px);
        }
    }

    @@keyframes slide {
        0% {
            opacity: 0;
            transform: translateX(300px);
        }
    }

    .job-overview {
        display: flex;
        flex-grow: 1;
        display: none;
        -webkit-animation: slide 0.6s both;
        animation: slide 0.6s both;
    }

    .job-overview-cards {
        display: flex;
        flex-direction: column;
        width: 330px;
        height: 100%;
        flex-shrink: 0;
    }

    .job-overview-card + .job-overview-card {
        margin-top: 20px;
    }

    .job-overview-buttons {
        display: flex;
        align-items: center;
        margin-top: 12px;
    }

        .job-overview-buttons .search-buttons {
            background-color: var(--inactive-color);
            font-size: 11px;
            padding: 6px 8px;
            margin-top: 0;
            font-weight: 500;
        }

            .job-overview-buttons .search-buttons.time-button {
                color: var(--time-button);
                margin-right: 8px;
            }

            .job-overview-buttons .search-buttons.level-button {
                color: var(--level-button);
            }

        .job-overview-buttons .job-stat {
            color: var(--active-color);
            font-size: 12px;
            font-weight: 500;
            margin-left: auto;
        }

        .job-overview-buttons .job-day {
            color: var(--subtitle-color);
            font-size: 12px;
            margin-left: 8px;
            font-weight: 500;
        }

    .job-overview .overview-wrapper {
        display: flex;
        align-items: center;
    }

        .job-overview .overview-wrapper svg:first-child {
            width: 42px;
            margin-right: 10px;
        }

        .job-overview .overview-wrapper .heart {
            background: none;
            box-shadow: none;
            width: 24px;
            padding: 4px;
            color: var(--subtitle-color);
            border: 1px solid var(--border-color);
            margin-left: auto;
            margin-bottom: auto;
        }

    .overview-detail .job-card-title,
    .overview-detail .job-card-subtitle {
        margin-top: 4px;
    }

    .overview-detail .job-card-subtitle {
        font-size: 12px;
        font-weight: 500;
    }

    .job-explain {
        background-color: var(--header-bg-color);
        margin-left: 40px;
        border-radius: 0 0 8px 8px;
    }

    .job-bg {
        border-radius: 8px 8px 0 0;
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
        height: 180px;
        transition: 0.3s;
        position: relative;
    }

    .job-logos {
        margin-top: -30px;
        position: relative;
        margin-bottom: -36px;
        padding: 0 20px;
    }

        .job-logos svg {
            width: 66px;
            padding: 12px;
            background-color: #fff;
            border-radius: 10px;
            border: 4px solid var(--header-bg-color);
        }

    .job-title-wrapper {
        display: flex;
        align-items: center;
    }

        .job-title-wrapper .job-card-title {
            font-size: 20px;
            margin-top: 0;
            font-weight: 600;
        }

    .job-action {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

        .job-action svg {
            width: 32px;
            border: 1px solid var(--border-color);
            color: var(--subtitle-color);
            border-radius: 8px;
            padding: 6px;
        }

            .job-action svg + svg {
                margin-left: 12px;
            }

    .job-explain-content {
        padding: 50px 25px 30px;
    }

    .job-subtitle-wrapper {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }

        .job-subtitle-wrapper .posted {
            margin-left: auto;
        }

        .job-subtitle-wrapper .company-name {
            color: var(--active-color);
            font-weight: 600;
            font-size: 14px;
        }

        .job-subtitle-wrapper .comp-location,
        .job-subtitle-wrapper .posted {
            color: var(--subtitle-color);
            font-size: 12px;
            font-weight: 500;
        }

        .job-subtitle-wrapper .comp-location {
            position: relative;
            margin-left: 10px;
        }

            .job-subtitle-wrapper .comp-location:before {
                content: "";
                width: 3px;
                height: 3px;
                border-radius: 50%;
                background-color: var(--placeholder-color);
                top: 49%;
                left: -8px;
                position: absolute;
            }

        .job-subtitle-wrapper .app-number {
            color: var(--body-color);
            position: relative;
            margin-left: 12px;
        }

            .job-subtitle-wrapper .app-number:before {
                content: "";
                width: 3px;
                height: 3px;
                border-radius: 50%;
                background-color: var(--placeholder-color);
                top: 50%;
                left: -7px;
                position: absolute;
            }

    .explain-bar {
        margin-top: 20px;
        border: 1px solid var(--border-color);
        border-radius: 8px;
        display: flex;
        height: 66px;
        padding: 0 16px;
        align-items: center;
        justify-content: space-between;
    }

    .explain-title {
        color: var(--subtitle-color);
        font-size: 12px;
        line-height: 40px;
        white-space: nowrap;
    }

    .explain-subtitle {
        font-size: 13px;
        font-weight: 500;
        margin-top: -2px;
        white-space: nowrap;
    }

    .explain-contents {
        height: 66px;
    }

        .explain-contents + .explain-contents {
            border-left: 1px solid var(--border-color);
            padding-left: 16px;
        }

    .overview-text {
        margin-top: 30px;
    }

    .overview-text-header {
        font-weight: 600;
        margin-bottom: 25px;
    }

    .overview-text-subheader {
        font-size: 13px;
        line-height: 2em;
    }

    .overview-text-item {
        font-size: 13px;
        position: relative;
        display: flex;
    }

        .overview-text-item + .overview-text-item {
            margin-top: 20px;
        }

        .overview-text-item:before {
            content: "";
            border: 2px solid #61bcff;
            border-radius: 50%;
            height: 8px;
            width: 8px;
            margin-right: 8px;
            flex-shrink: 0;
        }

    .detail-page .job-overview {
        display: flex;
    }

    .detail-page .job-cards,
    .detail-page .searched-bar {
        display: none;
    }

    @@media screen and (max-width: 1300px) {
        .detail-page .search-type {
            display: none;
        }

        .detail-page .searched-jobs {
            padding-left: 0;
        }
    }

    @@media screen and (max-width: 990px) {
        .explain-contents, .explain-bar {
            height: auto;
        }

        .explain-bar {
            flex-wrap: wrap;
            padding-bottom: 14px;
        }

        .explain-contents {
            width: 50%;
        }

            .explain-contents + .explain-contents {
                padding: 0;
                border: 0;
            }

            .explain-contents:nth-child(2) ~ .explain-contents {
                margin-top: 16px;
                border-top: 1px solid var(--border-color);
            }

        .job-subtitle-wrapper {
            flex-direction: column;
            align-items: flex-start;
        }

            .job-subtitle-wrapper .posted {
                margin-left: 0;
                margin-top: 6px;
            }
    }

    @@media screen and (max-width: 930px) {
        .search-job, .search-salary {
            display: none;
        }

        .search-bar {
            width: auto;
        }
    }

    @@media screen and (max-width: 760px) {
        .detail-page .job-overview-cards {
            display: none;
        }

        .user-name {
            display: none;
        }

        .user-profile {
            margin-right: 0;
        }

        .job-explain {
            margin-left: 0;
        }
    }

    @@media screen and (max-width: 730px) {
        .search-type {
            display: none;
        }

        .searched-jobs {
            padding-left: 0;
        }

        .search-menu div:not(:last-of-type) {
            border: 0;
        }

        .job-cards {
            grid-template-columns: repeat(2, 1fr);
        }

        .search-location {
            display: none;
        }
    }

    @@media screen and (max-width: 620px) {
        .job-cards {
            grid-template-columns: repeat(1, 1fr);
        }

        .header-menu a:not(:first-child) {
            margin-left: 10px;
        }
    }

    @@media screen and (max-width: 590px) {
        .header-menu {
            display: none;
        }
    }

    @@media screen and (max-width: 520px) {
        .search.item {
            display: none;
        }

        .search-bar {
            flex-grow: 1;
        }

            .search-bar input {
                padding: 0 0 0 30px;
            }

        .search-button {
            margin-left: 16px;
        }

        .searched-bar {
            flex-direction: column;
            align-items: flex-start;
        }

        .searched-sort {
            margin-top: 5px;
        }

        .main-container {
            padding-top: 20px;
        }
    }

    @@media screen and (max-width: 380px) {
        .explain-contents {
            width: 100%;
            margin: 0;
        }

            .explain-contents:nth-child(2) ~ .explain-contents {
                margin: 0;
                border: 0;
            }

        .wrapper {
            padding: 20px;
        }

        .header {
            padding: 0 20px;
        }
    }
</style>

<div style="background-color:#fff; padding:20px; margin-left: -100px;">
    <div class="row">
        <div class="col-lg-7 col-md-7">
            <div class="title-login">
                @if (!string.IsNullOrEmpty(Request.QueryString["type"]))
                {
                    <h1>@Request.QueryString["type"].TitleCase() Job Search</h1> }
                else
                {
                    <h1>Search Company</h1>}
                Search company here
            </div>

        </div>
        <div class="col-lg-2 col-md-2">
            <div class="form-group" style="padding-top: 12px;">
                @if (user != null && user.Type == 4)
                {
                    if (user.PromoteDate != null)
                    {
                        if (user.PromoteDate.Value.Date < DateTime.Now.Date)
                        {
                            <a href="/package/promote?id=@user.Id&type=P&returnUrl=@Request.Url.ToString()" class="btn btn-info promote" style="width:165px;">Promote Profile</a> }
                    }
                    else
                    {
                        <a href="/package/promote?id=@user.Id&type=P&returnUrl=@Request.Url.ToString()" class="btn btn-info promote" style="width:165px;">Promote Profile</a>}
                }
            </div>
        </div>
        <div class="col-lg-1 col-md-1">
            <div class="form-group"></div>
        </div>
        <div class="col-lg-2 col-md-2">
            <div class="form-group" style="padding-top: 12px;">
                @if (user != null && user.Type == 4)
                {
                    <div class="pull-right" style=" ">
                        <a href="https://apps.apple.com/in/app/job-listing/id1575724994">
                            <img src="~/Images/ios.png" style="height:40px;width:40px;" border="0" />

                        </a>


                        <a href="https://play.google.com/store/apps/details?id=com.accuracy.joblisting">
                            <img src="~/Images/android-icon.png" style="height:40px;width:40px;" border="0" />

                        </a>
                    </div>}
            </div>
        </div>
    </div>
    <div class="clear" style="height:30px;"></div>
    @Html.Partial("_MessagePartial")

    <div class="list-group-item" style="padding:15px;">
        @using (Html.BeginForm("SearchCompany", "Job", method: FormMethod.Post, htmlAttributes: new { id = "BasicSearchForm" }))
        {
            <div class="row" id="BasicSearch">
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.Company, new { placeholder = "COMPANY NAME", @class = "form-control _basic", @maxlength = 50 })
                                @Html.ValidationMessageFor(model => model.Company)
                            </div>
                            <div id="JobTitleError" style="color:red;"></div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.Where, new { placeholder = "WHERE (For example, United States)", @class = "form-control _basic", @maxlength = 50 })
                                @Html.ValidationMessageFor(model => model.Where)
                            </div>
                            <div id="CountryError" style="color:red;"></div>
                        </div>

                    </div>

                </div>
                @*<div class="col-lg-2 col-md-2 col-sm-2">
                        <div class=" form-group">
                            <input id="AdvanceSearchButton" type="button" value="Advance Search" class="btn btn-default btn-block" style="color: #34ba08;" />
                        </div>
                    </div>*@
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class=" form-group">
                        <input id="SearchBasic" type="submit" value="Search" class="btn btn-info btn-block jsearch" />
                    </div>
                </div>
            </div>}
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <div style="background-color:#fff; padding:0px 20px 20px 20px;">
                    @* <div id="noresult" class="noresult">
                                       <div class="nodata">Your search did not match any job.</div>
                                <b>Suggestions:</b>
                                <ul>
                                    <li>Make sure all words are spelled correctly.</li>
                                    <li>Try different keywords.</li>
                                    <li>Try more general keywords.</li>
                                    <li>Try fewer keywords.</li>
                                    <li>Try entire word.</li>
                                </ul>
                        </div>*@

                    <div id="DisplayArea" class="hide">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">&nbsp;</div>
                        </div>
                        <div class="job">
                            <div class="searched-jobs">
                                <div id="ResultArea" class="job-cards"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">&nbsp;</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">&nbsp;</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <a id="ViewMore" class="btn btn-primary btn-block hide" style="width:100%;">View More</a>
                                <a id="JoinSeeMore" class="btn btn-info hide" style="width:100%;">Join to See More</a>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="divLatestJobs">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="job">
                                <div class="searched-jobs">
                                    <div class="searched-bar">
                                        <div class="searched-show">Latest Companies</div>
                                    </div>
                                    <div class="job-cards">
                                        @if (ViewBag.LatestJobs != null)
                                        {
                                            foreach (Companies latestJob in ViewBag.LatestJobs)
                                            {<!-- card start -->
                                                <div class="job-card">
                                                    <div class="row" style="min-height:45px;">
                                                        <div class="col-md-9">
                                                            <div class="job-card-title">@Html.Raw(latestJob.Company)</div>
                                                        </div>
                                                        <div class="col-md-3" style="text-align: end;">
                                                            @if (latestJob.Image != null && !string.IsNullOrWhiteSpace(latestJob.ImageType))
                                                            {
                                                                <span style="padding:10px;"> <img src="@Html.Raw(String.Format("{0},{1}",latestJob.ImageType, Convert.ToBase64String(latestJob.Image)))" class="job-photo" /></span>
                                                            }
                                                            else
                                                            {
                                                                <span style="padding:10px;">
                                                                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAG4AAABuCAYAAADGWyb7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
bWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdp
bj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6
eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYxIDY0LjE0
MDk0OSwgMjAxMC8xMi8wNy0xMDo1NzowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJo
dHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlw
dGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAv
IiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RS
ZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpD
cmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNS4xIFdpbmRvd3MiIHhtcE1NOkluc3RhbmNl
SUQ9InhtcC5paWQ6MjkwQjEyNjZDMDNEMTFFNUIzMzJDMTA5QURGMzE3QzgiIHhtcE1NOkRvY3Vt
ZW50SUQ9InhtcC5kaWQ6MjkwQjEyNjdDMDNEMTFFNUIzMzJDMTA5QURGMzE3QzgiPiA8eG1wTU06
RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDoyOTBCMTI2NEMwM0QxMUU1QjMz
MkMxMDlBREYzMTdDOCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDoyOTBCMTI2NUMwM0QxMUU1
QjMzMkMxMDlBREYzMTdDOCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1w
bWV0YT4gPD94cGFja2V0IGVuZD0iciI/Pl495loAACCPSURBVHja7F0JfFXFuZ85d8slCUkg7KIC
iiCggMqiiCiKqAX3XbvYutYNpRZ9r7Uo1gW32qpYtYrW5VkVtVZEEagisi+yL2FHCJCEhGx3OXfe
/5uZm9zcnHO33MSAOflNznrnnDP/mW//5nAhBDvUlk07StmXC7ZfPnvRzkfcLuMXeIXvrK4zzRDL
z/OyJ8edzjLcDnY4Lc7m9DDfbyxihcWVzOkw7B/YaXj+882WhzZuPzDe63HShR9zzi4DeF/Xv5rr
cvgtzQq4T77ezOat2I3RYftYfVFewyg7GaAxQZgI1g6rzwHetaAd034iuDUv4DwgZ94MpyVwaP9b
8O8pjKxWTOIV/idXXpx/H+UmbL/KfgKL0dwfEGDQiHofgLwoQePWF+G8gfIKRt7v64y4FuB+FNBG
YbUEgFwaE4gI+QrgPgbwJvOo4y3ANeYiagBzo/Efx+YMHOqadDWCjcfqH5IVHKbgOZvhKDueBBA0
/qAG9oFfobK2KNdgt6JlxDXSEggKVukL3sQ5X4BGH5SeTsDH+vzm9IKdZe0ON+B4c1DAf9hX2ebZ
d5ZN2b774OWOGDpcDY8TiQ9fUsKhfK+886r+Y9vmZGw1Q+rHIaw75meyLK+zBbiU9bf/bhn/92kr
J+dkeWKLgskCRz/hBFIIhW0zOB+L1/2ejlf7gmz8zwey0/p3aiGVKT+Egxsup6NR5Hfql5wbzOHg
RwHErwyDDUfBPQ9tdaFZAEeDovEbkROC+eCh01EuPNSVvOZC4ENNqHG0AmQfeNyOO6bNLnhx1qKd
LIJdHIkyDOVklO4oeQBbqRQ1ZFoE8b8YZX3QFPMuObPH3D492ha7nPwnCZzZxOqiwzD4PTsLy6dt
+6FsD8AZjcN34cQIrDOSqWnyjgMlPbrmftDzqNxnTFOsUdgKBn7KLhzRneVkuQ9f4EQT2jjQnmW4
2yRqc6fD6IcyFaNpVKoyGkDKW7e1+DerNhX9ErsvovwBx0rBU9nIQV0Pb+CaiI/SqH4ZJWzLpEa+
kUZfDSkUqXQEzkiwcjllW96BakaHhLjOYfCFvBGpZ/MRThq3/ulY9UK5FeDcivUOYHSLBI3FkS5F
RIlzE335sVjNxv5lhzSPq/KZLBYZ8noczB8IhXgjSHmokXS2O1H+i3IlyldCCSDxfhfAai3KVuz4
I6ClDtYa5UTU07EewLXkuBUEl/fen7npthsu7DOFyKZSS9T7NnvgfH6TTfz7fFZUWs1qLCKivoLs
C5jBdL2Qbvg9WE1AmYoyFGWRUJJiXCGJKxL6N5QNdrwX12SjXEBkFxf0rxlxovalDCb4vO93v7hm
SzFUEDYpEAyxTvmZ7E83D4ZkxJs3cPQepeV+dqDMx2KZsiDhdeYGb7CIghqqsJqM8jDKESgfocoL
E35YzhZiZNxRh/wJy0sPYvWudt7eif0/46Cn7ujjeGd6f9/D2G8bMEPjMr1Oli5DVaOTSgIsXCwa
2oXVI3iX3zUENN1/30S5lynwniZ+JqzeLwoM7M7CfkhwdjbWwo782WAdlPfiGNXCgqfRyFOj625g
mA8d5NfY9h96wgmvs0kK7iwJWsOqJP51AsrPUa7Xgscdwq5T1vr8tqGQCD8Sh1Y08BmC8d4Z+F0H
fj9t7vIfssurgocYcLWNdqnmO8MaUMdGzWdIaSZJbgtOPYWSG0ePK8Xv/oDNfrh2qqZqDW2HgK57
Ecp3dpQHZPP8v7y9fMai1Xs67Cgsl2GGhcVVzV+PQ4MRH3gMjXV3qsCjYYqx/iP2nkc5BWU+Dg9O
cFSQV/whXL/LujukqoTj91yud2F1LakfqHB4pKlMSZUQN72uoS9PWz0L+2OrfcGC0wd0Yfdc17/5
jjhOo4KzOSmDBt6A935aCx0fo7yPsjAeaDpC7zOyP+Lam6lxG8EaY+pO5cGqEofO4+oZLbsErjse
pHMO+N8AI0UEmmrEkQ41BY2WmyLoH0pbImNFJMyg3C6UYJPIjx8WaoTGlBRZDStiPbA+lakQio7R
99GybwnKepQFKItFrcDh1COPwLsMAL2E7RuskJMdkLOvsL5Y65nNB7g9+yszAgHzSTznb0X8RrMD
7UasXiFzEspENEReAiNgB65rg81MrHfEI4qqreVyEso67DjjsNjIey2XqoCqJFJBC+L4r3F+P47f
Z1mJepc7mw1wQVOwL+Zv7/XZ3C1vHij3n+y0Ub4TZGsL8PIP4uX/ZGlTrLt/ELtPYP81bM8j4HBe
2N2XFGmsfoFyrQbBFQqJ/aYpKJx9MUmoZEewYC8dNX89y+Hg/bk2SmKVi3s5tZoQDtr9Pc4WYftx
C/2VlRz0OX90Uknd9h8fr2G79lVcu6pg/wuc8dYul5G60slrqm1la1MUNTxmqhyRjG1nBAhAkOcY
M0X9amk0/oYp5blLuENU+81VQ/p2HHbpWceU+gLxPU3okJlTP11zwfptJY+6nI7uZJ0hvRDl54LM
ZbWP+ASecTRe5Mw6kiaAKyqtdpOFyZNkUkp6gWOUuLH/yW27y+7NbOWSLZoOS0EEKbM69wVW9+P8
0ki9l6nIZnomM+La9ljdRgXH2+lj8/EviBsMw2grz832lHbrkp3oo1Vkel3vhYQ4DXXcqf1Tp1Od
GrwvIjp1hVV7GZy7eQpuhHRLldztdpzrpth/ztPiZYtVC25BRuCL0ChLowehqB2fAWy0liQUAgWO
PyhUWPtilMu1LfPbhrUHD0uVm0iXw2YHlOnYvo/XPqvP5scpOezSDRw1spmI5SQJQ4uIcTMToJkW
JzjTggJXzL+ALDSknKMB5+LYz3BssFA5CengEQG9VYhyBup/R454Ab7GpU2TnqfS5tee5qIOBG1R
EMn3gji+Om5VL8A5TpBgIiSJGqJv/yUp/9rMFn2fUGpdq+aGQpNDl7aVXoOKlkljg2BXcgqj5yxg
8/6u5jDiLIEjExNe7VSsX0UpSwY5vHgoEROYvs8AlLdlkqNOxyJbJspQXDZKEGgiARk/+cXUHcYR
QSYmY3s0dguxfSrue0YMUmk0B+DMGkYDRZVc+dibhN3lOPAgto/GsRtQliRvoax/nOQf1DWIKxcO
KcNX63MhdQF7XpAAkhR1TppUhsV/R5SU/SVqHMyVamK30IhzNAfgwgbXZdr6QOTsFygkqlEU1Lso
+1DOxAv1J8clyoEUm5K80Z9qe+WFWhB5GfceJa0bPMGwiDqZqyI1UslreGu0OLwNWyPwTNPTCVxS
PC6EJqj02bAwUqZMCvUWDmy+jxe4gkxTKM+RuE62RrwEkQVq1FFcMfK3UF5AeVCPTBLThyQxDtsJ
VVcFV97uZ7C/Cc3YkZRpoZikmeiYdjkNseWHsryP5mw+MWiK3jjaASfcEWhqjsrJ5LUBCvSywuLK
HU4HD2ip0iFYlMqvwAvgmYjCnBdt+QqaIReK0+0yGg+4TTsPsMdfX1I3uZ7XShHU46p8gXE4T/Ea
b4qwRSLc6yMECSEbhd1DBYcXYf2StO8xls8oRYr0IC5NQrGGAIUa/BX1Ph1p2hJaj9PkKpQQbFwC
16dgR2nBmoKivLhUU532Z7gdM/C+TqF0OIMJGzGM1AFR33Jy4KDPBfCd3Tq3bjzgTFOwsnI/gLPN
iheGgx3A6PsOL9LPQh+zkw3IfHQKV3lsH2nb5NOcfG2C7cePnTaNtw0VTsA1PkuOqC0vMaDP4srI
e4W+hFKVXWjQhfjxMm3yqrZgL520XXMQKMwYopQEgpYq6VmtvNw+G2uTE3U4G5VUyqcGaEYkcBH9
iysvwMt4mOwUxf9MbTckn1YBDrzO1DFXzJ5fXx0wwgo4jXZRn2UejUJhBDfgXOcwxfAFzC39e7Y7
99whR270B+MPVIfBj5i5YPvVG3eU3u0Pmp3BzI9FNW8wFTZRUid03QY42SkpzL3J9TjVKgTln7G+
T6Qum0VXS+6Vh1HV/1j0+kSELoc2QQUjWAqZpm7HwYtw3MNrTV5kzzwNFKW4QxvvxpOPb5/ofXYO
7tth8idfbw29/u81T8opPJjU205EuUqGRIg4wCkMktblGixV4gFJECCP730ivpoQSAHADFs/nk2g
KoXus1oXSyY2LuFKJfiGFGLd0UgaJYGIdLzZDWkDCBZhAegA6t0pVPDtXK7SmOMB52hy4Dg5HDlE
ccHOsdO8tAVhGq4pZ0oJn8hVsGk6lmztWY+l+72OjQ90enIRLn0Wa+K/Y4SaHEBrDQ03OgCovaiJ
1JzZqDcLT/AWjj2pn6bK5i4pjThniqRRTRjD2F+0iB/FcwSr9slO+FdBsfqChSNiVusyCS9EDUnk
5GL85AhycbhcSaszZOFfAtmARgzFk3yudUeyS2boxyH9cRWjeVKUDlls+VaiQQq4GaYO+LcDlZxN
HYSizbB/r/SqczbThuc7mgY4zrykmwnlz6onHAiIAm6XY9+Qfp1uAgn5SFgHlAa1NWEeAJwAkEfs
K6m6Zvueg+eboVBeMu0nlMnoXCpchTbkRIXm3aZBS8RmaqSEnbZVavJMuhyRxTvxbktw7AXsX4Qr
Rseito0KHPSN7sryzQfZGaOEEF96XI5f/3JM7x3ZrRLqSGQ1/6y03P/Z+GfntimvDJ0HNfEaIjkA
3ZuwoUoJIm0tzm4WCdORBluLHNorEOa1U3FsFUB7RyeDWBEnarOkgbPlcWQh2bG3nLzZDKOBffL1
lvOnvL9ygcPBB9m0XVBLgKMFi4rzSJjiSDL2lqB4ScGOI5cMync8wv7JkjcSf4Dfv4dyPlekLBZw
qZLKkK7EEFFtKpTFZAgq/o8l4maIFRZVpm/ELV27lz371nKW4SE1gz0APWUSpXFaOUilzsXYL3F4
boO6Lq/TkgT+X6nQpDXS6cmlGe34ZLzqWjckh+nlqGMLV3zun0LZTVmkQTr15+Yhyw5UG1NZLNUl
LjtknQvITLi3uCp9wAnlpcwNCfEKbnapNHNZgcbZ2zh2u1Aha/Z2TrC+PUWV3lBIlEZ76h0qaEby
R6s+rxuZpNFHtIXlKqwvTna6KFzfjeym+D15pueSxClNc0JJhcpWWZrz0ZzNfYOm6KVtlR4dT6cF
UBJElK0SZYXTwXev21oSwG/DpNJhw9d9lqOdy/dPH3Cc8+4G559i3duKJOF+5YyCWwV7VUSBUAUy
O+mVReHtkRef2SN7UN8O3zz44ncLK6qDi1Hve0zpTsXR9MqIEX+hG5hCvIl8TuAq/Jx0pfOFCgBK
aFSjHmpg8o+Rt5ok3HKhgDu2YEfp2jWbizslSByq8LvP8bsSCGRKf7RjP1zrsMKSSHvSBhyWYaiz
t81DL9KkcY3VWZq1Z+sPpcSkf1dZHXisuKz6AQDyJUZve5y7Aq9GJI98dQTeh6hnJn5WyKOyQuxI
jxZESMUgV8l0itrS3gUC8SyavzJRMSQyygvPm+lwGJmZDoM8FxSJvNvCauOIsFUOFMrWGc6skmZL
YS/AhGyATatUKWymhnyGqagqXwxbYTfoZK+gIc5ygYZDoDHDrh8u2aSsmSz/l1AxVL4ZBYXSDK8z
ZGx/cnyMRu7bVEgnRLmIKXI6RCTi66r/om1wbLsg0ixi/qwbV7bV3+JdO+JAG20cpwDgsihbZUBb
j6yAS3rEGYmKyJTliTIWB+8Rkeab+oLKdaQUE2iJCt44lI3yMz276wYKuUO5lStjcFJCu1Amp7/p
TKB+XPn6VifJCykm87QErqMMoUkyH6JWJaH3/xa7faKeOcDs07HSClwkGGSRoKSJf8e4hsgVSWtv
yjDxFI1IFPyKco5QDtZ1OmZkHEpPnqTHAZeuRXmIKaPvUJS/cBUwm8hLJ0y+akLvuExMKRZq7mgy
LlweRSrNRgcOvIhThK0/YP4e6/N9/uCuYDDErGQHHBrJ1Eyu11qSHpECjEqApeyX4UJlmNKomU+W
Fpzqm4x9Uaho5vl6ZPTiKpvmTW1psdMPk+E7QR1jQ/7EMVhTVlJrHHsPz/uovoc/nSPOlsflZnu2
ndgz/1yP2/FFWNorK/exnVDIw5KfzHfj6NFC2ga5FVnLcDvNOUt2rV+5qajCHwjdbhhSnyLBJycZ
W4ZQs71SStVgrRas0KlM/8adV1jGV1pLplXapvk5fp8nhRquhRodGRZhSkvUcBBWwD34txV1nsUV
xbiFHL3U0XCP8Vqgyo0arSwYCiUNXFLTHi5YVcieeGOJnKWcKwv7P2LNZkDRwvh3E0bqMlPZMJUp
XkjjMInyJESM1GEMiSvoot6h1UyR8Y/1yA8kO7pJqEG9Y5mKEhuGA8tRz4BESLPMC1ASLgHTC7/Z
ro/fiG2y62YQiRYkvAiWFflbUDI2pF/Hh8ZfP/DBRnfr6OjgBXag4YEDKH/C5mnoF8sojTYMmmbg
+1D+pUkreY1H62ivzak4K1D6oEwQSsdbzZVkN5wnOi+Xit8koYYMwqcTT2QqyMmZ4M/DpJLy6xwR
I/FlHBzBlRBzZDRo4QWdOn2kshr8raTMFxbdZTZJyUFfF5DJl4TKvbYDleL4b9I2ukQkSlIFZlDh
yitN+tEYpu7RRyTZubQxdxxTAs1WPasQqRnzhN3czFEjWdDENjQhaTJOCs7CCjiPIqMLuCLvlG9+
XqPzuO837GdPvrlUfbxBPcqlgokXMHLa2xmZsSJG/IgQtt7eeI1Ovwu7e/4XB47XCfpjpFQrklNU
hVInaAooUi0oP3uGBvFrERlRLZhtCleCFMgUtSS3xjsQYavch80r8E4rsX10owIXIvsSlGcwToob
ewov8Rs5+AxLI/MKpr6ysdCOF6XgKSBhY6Uuj9H0Grg/+d0uJB1LepiTA7ELVjfg2W4Aj92rcwkI
xNlCTQgQTe6z5PVCClEiAl4SREga3Uj9Gwf3h22dTNsqbe5fwYQ0EzbuiONqcpXTQBpJAOlpIxiY
jL4PINjDIvmAnmRH42b8exH3e1HGuTCp4JNwcyYaPj/hTqJ4LFGNcDRZMVeTpn2IEzNxbq/uODk4
RgFQmTFGWpmOXVkvavk3t7mYntBv85xptVWSEXaWHY/haiQQL5sfh4x48S+HYk70lztopoSdKbt9
VOPsiTBx5WAEnc5UCPqoRCZZi8KRJL1LUfelGghKI/4X9skeO1nf1YyyVXZmSjA7QbCIgCDl9DKE
feqyX7DGB669FWg6KpleaKLWS2x5A1dulH8y5UQksZiUXpoEl2YrIFI1E2W5bT3WEquc3I38WLpz
lzLV66l4cZ6Ca8dKj4Fgvel6Cu+WUzPZJVvWdghiC5Q79zMdrUUzFpXEkGd66dmJbpSTBSgr+Xiu
ZjaqqDslsDT++lkTACcsHpb0pZtFbQanvVrE2c2ogSajyZGKsoqoD2nFlkYIpdySOYqCa77RkiX1
9q0xMxlRw4k981mHNq2YGao39VaVHjFUJgCnE6D0X7C6oGhMRXVggIoY5jFHcwSPJVKZEadx1un7
UMrwVxr8X3HlM7xeZijVfUS/DT9Pq3cgFDXKyCvwRz0BSyzQKFzuBTzM2XEbR626ancMJQOSVPk9
VyORRuRirS7UGvww0kafehQ7uXfcoFUSGEg1WVrlNyc99ebSY1ds2D/a43JcqL0GrWJKlTyJ6CtB
Yfe6GvLtCWmSI8l4HLZfilDy65FKp9Ngu/dXuN+fWSAFwpqHD4ZYty6tWd9j8slPGG49GpkeIURG
XOC46lUkMX4TBzCq/XatDmSlwsKEejCVR8DZ/ThQyNXoptFI9r9NLIUwA6/bIZwOYwNeeAPI1XPg
iV0ohE7zxREyuaT+MCeS7hSJPbcZAf7V5CGhiGYcm4L3oKmhbkOblDKLPHCKLNhbUtXp7c/X0QRy
ZEGipJd8CnxyGDwP6ldrdDaPJsM+yRoEK4oJHOWaCaXMVsQBjRyuFAJ3RhrVAaZf5BJdKBhpjYPz
meu3HfiiY9vMhZ3yM0uiyaXVQlPLy95cy8toWihKy5qqvRpn4BypGecIJXjQRQ455UZiQpOIeF/y
Dd5OEwaQwo3bXqMzZRdTQLDVe0Jy7+XNcL0R0XQVUMW2Htkxe2OfHm3nt8v1bsAJkqrpufeB55TZ
2iqXrN3revS1xabH7QzFAIxebhwqnFiH9EQBRxZ98pFhn6TBLNaAJSyceN3O4rwcD2UFEX+hOSeJ
MgRFdKfRboSyCj/zB03GY/A4jEQS/YdoNYOisy8TKpg2+tVytGRJynQ3HCTSe73WBQ4w5dVwhuda
Cf+OOo8fzx7R1yjBkwKtKJKA7rNW7/9QWR2ouHJUT/arsb2T5HGcB1iM+A+uJC76iuKpCbQ36XgV
MitTgDTpOUZSdPUwkA4yDrTZs7/yAmlZ4ZJ8UvDObE1WyWa5N7JP0rzIMWehFVpJZnJ+ra/0TH/Z
2ph+HFMR0lSO1Xy5bY3UXZdv50bzTnQIAdD2eDOca089odMy8K5lrTKcqwHgFi0V12fQ4HHdj8hJ
STixazsiHzQ31R+EnRgr1Fek0LgHQiE2kSkXBy0Ua0Ih4X21ZDlc60MdqI9keCI+eBPDaSrbAyA4
a+c2NphKtOilzVtkziI97AsNxEphr/xS/+SSLAvWk6kOSfMQUlc/RqtFMVVLirEJk2zd1w9qiZOm
lSLVZ3kgGNoEkldxy2X9dH5hwxZnkqANxOql2BNTqyS/Nq29b/U8Km9Cm5yMnaG6fOigHhFUnpC9
mrN+1T5z2Nzlu87AC56EO3VoEH9U+hg5d0fqJtqsZ5Kl0UhCVqUePQO1METegB7JmtEIJH/AZBg9
+3KyPMswwr+VtlYhjROFNbPrCJkyzNAWLF3fInAmCBiNrAeYChKKybAB0sosr2vcQ7cO/SovOyH1
hICcd6DcP++7lbufqPYFsx2G0Y+pmBESdk6q468T4V7NEwWRlu66kI5F9/MJJb3FFqI4s/OO76fR
BNVkzrXn9Zo79IROKwFKWSiOoMRVDGUjA6cfmKuJPKfUTNMew26H1SRlIeG+ZMmBSjKkPwMNy+dp
L8ETNFuD5jPDtPR3UrU/KEmrx5X8J1CFItXZtm4dDRZ9cy4iB4AsO8s12Z2l9ENRSlPSd4eu1T5P
6+lG030YKYaRmXnIGaonu3bEanBp21OpTdtSpXDZmW6GUSr5RRQ5ORh29RCQEJ2zd+8v7/Xtit2n
zF22a5jL6Tiz3scbUqSvdFsCgwSDdnne7XiOOVA5pkO6m0uOVisPytGdstmPscQilRRSMCHOKFmL
f/fg+T9v6INQZ+2cn1ByzkFIiKvyWhe7gHEXlsz0GrFA48wMBMwV4MvTRw7q+tlJvdsv9bgd0uPh
dja/r24741AvuxMkNpPT9Gkh6hqIyR1EZGbdthKW3crNNN2nutxMGZ23syizGQkzB6FnvTtjg9TR
pNc9QrgkeYeisxglDHI2uuhA9RAIBXnklRcN+15BtZT6uIxVmR4wxfqjOmWLESd1Yc19ccY041i/
LE1nQRFLBVZiuyHzBUz25NSlTCfIk+rwAwrlC8zThuDlWlRerEX1ndoyUguWSqCklC7ygI+WUqCQ
SYOSwctY/ST4ZzBoalsgr8YBSvj4ABVQWMO2GjtoICinBDkUFmcSvZM8vvfWC4q1TmIg4+lYOSop
/IBLkkuRV5TJ0llbHc6vsZhzGSRExmVSEQjEURqsrsJGiBAJm9QExc8EurTP+i5LTgoqn3+7lYHZ
5wsSbzvEgaPJ9KVkZdAIeSLE2GQAUFGPgtb/5MkA7RU/R9SKi7EEb3dYeRZKQU/bAjK9onWm+93f
XtH7gxOPzd+Y6T18PpcXK3TBwDILUtxtaPj1Ncwk2qJRe5gYA8UG3qDTmCzMHY3/QlwZkOmbBG+h
6y1xOY3QwF7t6Fvg7HBabIE7vnub2c/ce/pMAOjXpI8tXFXI3vh0rYqRrFUbaEJPirO8r8ZOV987
IPS0TukVz2oNyeTuIP/da+g0ZB1R3owQO2wXW+DQQ6uOaF/XAtQe9D/C2cf1FFCT9CxAsZaL0chX
imjFN7URJc1M8gOyhkH+OXKHULLJlmhCTPZS0suY+AkBF6fxyCPwuExlSiT1STRc15KSIYCoqg4G
jumaO2Nwv45T+vdsNxPHfPb3FfL7pZ7DjEwmBRx9OquwuLIbeN4kPQsrt+R5aWRWkfUGzNCeHkfk
vDF8YJdXBxzXbkOHNl72U17qALd5Vxlbt7UkHONQs2A/Z9ainb9bt7X4bvC3zJjqQJr5l9b5XggG
Q+91ys8sHT30SNayRAG3aHUhe+2TNaxVhivyPH1Qb6LLxY+QgHLWuDxDSZ8h/SGIZ2V+uNAxHaIF
MEvgCBhvhlMWpnKpP9STgDbeCONqGikykwVNUQ22RBYWmihtWeRlVf4gBA2zBbEEeNyx9UBrjAEm
BQijrEObrNfGDO/+nNtlbLayP5KE2L5NqxbEGiJVpnGwFfn85pTBAzo+f9fVJ+5ugaOBwJEvDiTx
bNF4gJEHmb61/TxG136jCR2QhytwFARKqUX3C2aZx5W6xCGkq4ZiDp8DWARaUa21uGVpGHBcxhG+
JNIzqqSVhdwklPcPhOhjtM9Qkl/kdQH5rYJQCxKpAEf+M+r5u/dVDlFZLQ2UHoUKAYDQUd2urfeV
q87t+Vj7tq12Wfm6yNGak+VuQSIV4KbN3sT+881Wmpb+ZJk63LCPK5MzVeTnZvzflaN6Pjh8YOcN
Lc3cSMD5AyFWUR1ol+l19Ur6g31RoxMjaE6W13X/I7efOj+3ZSQ1LnAqbdjoja22qcS7afxoZNE3
dD4kH46jRVJsMuHk5JSEEC7Tfh5lKuO0qkVIbHrgBqUgOVKa8AOpzsHcsjQcOLIq94+HkrIpyjFF
02PcjTIn+jIzpMX7lqHXJMCRst0tBjmUeV1ul6M8L8dDU2M8K4TOZ44KUyBgszNdjBstjdsUwFFq
kdtulFVVB1mn/MzPzjyl650Xj+heEO9LTzJl6jD0Ojc74HwB85RowFQQaYh0sr0De7W/95KRx/zz
+G558rTX0QLKjw7cO59vYKsLik6q86lHIedQZG1zM967alTPu4cN6Ly7RbhvZsD9a+bGth63ozdl
/4vanO194FV35WZ73jl9QOeWVmqOwHkznH0AVeeIeFeaBegWmVbUIhk224XsG0O1PFGNcpecjZxA
s/0MasvSLEacUN86o4QOClhdVjPKWoJzmjdwXKY5iWsB0t66p1qQa87L/wswAJdyb0OW/ZRzAAAAAElFTkSuQmCC" class="job-photo" />
                                                                </span>
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="job-card-subtitle">
                                                        <b>Location: </b>@Html.Raw(string.Format("{0} {1}", latestJob.Country, latestJob.City))
                                                        <div class="row" style="padding-top: 0px;width: 100%;margin-top: 6px;">
                                                            <div class="col-md-6">
                                                                <b>Status: </b> @Html.Raw(latestJob.Status)
                                                            </div>
                                                            @*<div class="col-md-6">
                                                                    <b>Views: </b>@Html.Raw(latestJob.TotalViews)
                                                                </div>*@
                                                        </div>
                                                    </div>
                                                    @*<div class="job-card-buttons">
                                                            <button class="search-buttons card-buttons detail-btn-override">@Html.Raw(latestJob.JobType)</button>
                                                            <button class="search-buttons card-buttons detail-btn-override">@Html.Raw(string.Format("Min. {0} Year", latestJob.MinimumExperience))</button>
                                                            <button class="search-buttons card-buttons detail-btn-override">@Html.Raw(latestJob.JobLevel)</button>
                                                        </div>*@
                                                    <div class="job-card-buttons">
                                                        <a href="@Html.Raw(string.Format("/{0}", latestJob.jurl))" target="_blank" class="search-buttons card-buttons card-buttons-override" style="text-align:center">View</a>
                                                        @Html.ActionLink("Share", "Email", "job", new { Id = latestJob.UserId }, new { target = "_blank", @class = "search-buttons card-buttons card-buttons-override" })
                                                        @Html.ActionLink("Bookmark", "Bookmark", "job", new { Id = latestJob.UserId, redirect = Request.Url.ToString() }, new { target = "_blank", title = "Bookmark this job.", @class = "search-buttons card-buttons card-buttons-override" })
                                                    </div>
                                                </div> <!-- card end -->}
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="text-align:center; margin-top: -15px;">
                        @Html.PagedListPager(pagedModel, i => Url.Action("SearchCompany", "Job", new { i }))
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="clear" style="height:15px;"></div>


<script src="~/Scripts/Search.js"></script>
<script type="text/javascript">
    var formId = "";
    $(document).ready(function () {
        $("#noresult").show();
        $("#divLatestJobs").show();
        var country = "@(Model.Where!=null?Model.Where:"")";
        var countryId = Number("@(Request.QueryString["CountryId"] != null ? Request.QueryString["CountryId"] : "0")");
        var rows = 0;
        var pages = 0;
        var offset = 1;
        $('#Save').click(function () {
            alert('button click')
            $.post('@Url.Action("BookMarkedJob", "JsonHelper")', { jobId: 52 }, function (data) {
                $("#msg").html(data);
            });
        })
        if (countryId > 0) {
            $("#waitDialog").modal("show");
            $("#divMsg").removeClass("show");
            $("#divMsg").addClass("hide");
            offset = 1;
            var jsonForm = { CountryId: countryId, PageNumber: offset };
            $.post("/company", jsonForm, function (result) {
                $("#waitDialog").modal("hide");
                if (result.length > 0) {
                    rows = result[0].MaxRows;
                    pages = Math.ceil(rows / 20);
                    $("#noresult").hide();
                    $("#divLatestJobs").hide();
                    $("#DisplayArea").removeClass("hide");
                    $("#DisplayArea").addClass("show");
                    $(result).each(function () {
                        if (this.ExpiryStatus == null || this.ExpiryStatus == '') {
                            this.ExpiryStatus = this.ClosedOn;
                        }
                        this.authflag = "@Request.IsAuthenticated";
                        this.Role = "@(user!= null?user.Role.GetDescription():"")";
                        $("#ResultItem").tmpl(this).appendTo("#ResultArea");
                    });
                    if ((offset < pages)) {
                        if (authenticated == "True") {

                            $("#JoinSeeMore").removeClass("show");
                            $("#JoinSeeMore").addClass("hide");
                            $("#ViewMore").removeClass("hide");
                            $("#ViewMore").addClass("show");

                        } else {
                            $("#JoinSeeMore").removeClass("hide");
                            $("#JoinSeeMore").addClass("show");
                            $("#ViewMore").removeClass("show");
                            $("#ViewMore").addClass("hide");
                        }
                    } else {
                        $("#JoinSeeMore").removeClass("show");
                        $("#JoinSeeMore").addClass("hide");
                        $("#ViewMore").removeClass("show");
                        $("#ViewMore").addClass("hide");
                    }
                } else {
                    $("#JoinSeeMore").removeClass("show");
                    $("#JoinSeeMore").addClass("hide");
                    $("#ViewMore").removeClass("show");
                    $("#ViewMore").addClass("hide");
                    $("#noresult").show();
                    $("#divLatestJobs").show();
                    $("#JobArea").removeClass("show");
                    $("#JobArea").addClass("hide");
                }
            });
        }
        if (country !== "") {
            $("#waitDialog").modal("show");
            $("#divMsg").removeClass("show");
            $("#divMsg").addClass("hide");
            offset = 1;
            var jsonForm = { Where: country, PageNumber: offset };
            $.post("/company", jsonForm, function (result) {
                $("#waitDialog").modal("hide");
                if (result.length > 0) {
                    rows = result[0].MaxRows;
                    pages = Math.ceil(rows / 20);
                    $("#noresult").hide();
                    $("#divLatestJobs").hide();
                    $("#DisplayArea").removeClass("hide");
                    $("#DisplayArea").addClass("show");
                    $(result).each(function () {
                        if (this.ExpiryStatus == null || this.ExpiryStatus == '') {
                            this.ExpiryStatus = this.ClosedOn;
                        }
                        this.authflag = "@Request.IsAuthenticated";
                        this.Role = "@(user!= null?user.Role.GetDescription():"")";
                        $("#ResultItem").tmpl(this).appendTo("#ResultArea");
                    });
                    if ((offset < pages)) {
                        if (authenticated == "True") {

                            $("#JoinSeeMore").removeClass("show");
                            $("#JoinSeeMore").addClass("hide");
                            $("#ViewMore").removeClass("hide");
                            $("#ViewMore").addClass("show");

                        } else {
                            $("#JoinSeeMore").removeClass("hide");
                            $("#JoinSeeMore").addClass("show");
                            $("#ViewMore").removeClass("show");
                            $("#ViewMore").addClass("hide");
                        }
                    } else {
                        $("#JoinSeeMore").removeClass("show");
                        $("#JoinSeeMore").addClass("hide");
                        $("#ViewMore").removeClass("show");
                        $("#ViewMore").addClass("hide");
                    }
                } else {
                    $("#JoinSeeMore").removeClass("show");
                    $("#JoinSeeMore").addClass("hide");
                    $("#ViewMore").removeClass("show");
                    $("#ViewMore").addClass("hide");
                    $("#noresult").show();
                    $("#divLatestJobs").show();
                    $("#JobArea").removeClass("show");
                    $("#JobArea").addClass("hide");
                }
            });
        }

        var sender = "@(Request.UrlReferrer != null ? Request.UrlReferrer.GetLeftPart(UriPartial.Path) : string.Empty)";
        var current = "@Request.Url.GetLeftPart(UriPartial.Path)";

        if (current == sender) {
            var flag = $.cookie('searchjob');
             if (flag == 'basic') {
                $('#BasicSearch').show();
                 $("#Company").val("");
                $("#JobTitle").val("");
                $("#CategoryId").val("");
                $("#SpecializationId").val("");
                $("#CountryId").val("");
                $("#State").val("");
                $("#City").val("");
                $("#FromDay").val("");
                $("#FromMonth").val("");
                $("#FromYear").val("");
                $("#ToDay").val("");
                $("#ToMonth").val("");
                $("#ToYear").val("");
                $("#QualificationId").val("");
                $("#EmploymentTypeId").val("");
                $("#ZipCode").val("");
            }
        }


        $("#BasicSearchButton").click(function () {


            $('#BasicSearch').show();

            $("#Company").val("");
            $("#CategoryId").val("");
            $("#SpecializationId").val("");
            $("#CountryId").val("");
            $("#State").val("");
            $("#City").val("");
            $("#FromDay").val("");
            $("#FromMonth").val("");
            $("#FromYear").val("");
            $("#ToDay").val("");
            $("#ToMonth").val("");
            $("#ToYear").val("");
            $("#QualificationId").val("");
            $("#EmploymentTypeId").val("");
            $("#ZipCode").val("");

            return false;
        });


        var authenticated = "@Request.IsAuthenticated";

        $(".jsearch").click(function () {
            var ValidJobTitle = $("#Company").val();
            var ValidCountry = $("#Where").val();

              if (ValidJobTitle == "" && ValidCountry == "") {
                $("#JobTitleError").html("Job Title is Required!");
                $("#JobTitleError").show();
                $("#CountryError").html("Country is Required!");
                $("#CountryError").show();
                $("#Search").enabled = false;

                $("#PaidJobResultArea").hide();
                $("#JoinSeeMore").removeClass("show");
                $("#JoinSeeMore").addClass("hide");
                $("#ViewMore").removeClass("show");
                $("#ViewMore").addClass("hide");
                $("#noresult").show();
                $("#divLatestJobs").show();
                $("#DisplayArea").removeClass("show");
                $("#DisplayArea").addClass("hide");
                return false;

            }
            else if (ValidJobTitle != "" && ValidCountry == "")
            {
                $("#JobTitleError").hide();
                $("#CountryError").html("Country is Required!");
                $("#CountryError").show();
                $("#Search").enabled = false;
                $("#PaidJobResultArea").hide();
                $("#JoinSeeMore").removeClass("show");
                $("#JoinSeeMore").addClass("hide");
                $("#ViewMore").removeClass("show");
                $("#ViewMore").addClass("hide");
                $("#noresult").show();
                $("#divLatestJobs").show();
                $("#DisplayArea").removeClass("show");
                $("#DisplayArea").addClass("hide");
                return false;
            }
            else if (ValidJobTitle == "" && ValidCountry != "")
            {
                $("#JobTitleError").html("Job Title is Required!");
                $("#JobTitleError").show();
                $("#CountryError").hide();
                $("#Search").enabled = false;
                $("#PaidJobResultArea").hide();
                $("#JoinSeeMore").removeClass("show");
                $("#JoinSeeMore").addClass("hide");
                $("#ViewMore").removeClass("show");
                $("#ViewMore").addClass("hide");
                $("#noresult").show();
                $("#divLatestJobs").show();
                $("#DisplayArea").removeClass("show");
                $("#DisplayArea").addClass("hide");
                return false;
            }
            else {
                $("#JobTitleError").hide();
                $("#CountryError").hide();
                $("#waitDialog").modal("show");
                $("#divMsg").removeClass("show");
                $("#divMsg").addClass("hide");
                formId = $(this).closest("form").attr("id");
                var jsonForm = $(this).closest("form").serializeObject();
                $("#noresult").hide();
                $("#divLatestJobs").hide();
                offset = 1;
                jsonForm.PageNumber = offset;
                $.post("/company", jsonForm, function (result) {
                    $("#waitDialog").modal("hide");
                    DisplayPaidJobs();
                    setInterval("DisplayPaidJobs()", 11000);
                    if (result.length > 0) {
                        $("#PaidResultArea").show();

                        rows = result[0].MaxRows;
                        pages = Math.ceil(rows / 20);
                        $("#noresult").hide();
                        $("#divLatestJobs").hide();
                        $("#DisplayArea").removeClass("hide");
                        $("#DisplayArea").addClass("show");
                        $("#ResultArea").empty();
                        $(result).each(function () {
                            if (this.ExpiryStatus == null || this.ExpiryStatus == '') {
                                this.ExpiryStatus = this.ClosedOn;
                            }
                            this.authflag = "@Request.IsAuthenticated";
                            this.Role = "@(user!= null?user.Role.GetDescription():"")";
                            $("#ResultItem").tmpl(this).appendTo("#ResultArea");
                        });
                        if ((offset < pages)) {
                            if (authenticated == "True") {
                                $("#JoinSeeMore").removeClass("show");
                                $("#JoinSeeMore").addClass("hide");
                                $("#ViewMore").removeClass("hide");
                                $("#ViewMore").addClass("show");
                            } else {
                                $("#JoinSeeMore").removeClass("hide");
                                $("#JoinSeeMore").addClass("show");
                                $("#ViewMore").removeClass("show");
                                $("#ViewMore").addClass("hide");
                            }
                        } else {
                            $("#JoinSeeMore").removeClass("show");
                            $("#JoinSeeMore").addClass("hide");
                            $("#ViewMore").removeClass("show");
                            $("#ViewMore").addClass("hide");
                        }
                    } else {
                        $("#PaidJobResultArea").hide();
                        $("#JoinSeeMore").removeClass("show");
                        $("#JoinSeeMore").addClass("hide");
                        $("#ViewMore").removeClass("show");
                        $("#ViewMore").addClass("hide");
                        $("#noresult").show();
                        $("#divLatestJobs").show();
                        $("#DisplayArea").removeClass("show");
                        $("#DisplayArea").addClass("hide");
                    }
                });

                return false;
            }
        });

        $("#ViewMore").click(function () {
            $("#waitDialog").modal("show");
            var jsonForm = $("#" + formId).serializeObject();
            if (offset < pages) {
                offset = offset + 1;
            }
            jsonForm.PageNumber = offset;
            $.post("/company", jsonForm, function (result) {
                $("#waitDialog").modal("hide");
                if (result.length > 0) {
                    $("#noresult").hide();
                    $("#divLatestJobs").hide();
                    $(result).each(function () {

                        this.authflag = "@Request.IsAuthenticated";
                        this.Role = "@(user!= null?user.Role.GetDescription():"")";
                        this.authenticated = "@Request.IsAuthenticated";
                        $("#ResultItem").tmpl(this).appendTo("#ResultArea");
                    });

                    if ((offset < pages)) {
                        if (authenticated == "True") {
                            $("#JoinSeeMore").removeClass("show");
                            $("#JoinSeeMore").addClass("hide");
                            $("#ViewMore").removeClass("hide");
                            $("#ViewMore").addClass("show");
                        } else {
                            $("#JoinSeeMore").removeClass("hide");
                            $("#JoinSeeMore").addClass("show");
                            $("#ViewMore").removeClass("show");
                            $("#ViewMore").addClass("hide");
                        }
                    } else {
                        $("#JoinSeeMore").removeClass("show");
                        $("#JoinSeeMore").addClass("hide");
                        $("#ViewMore").removeClass("show");
                        $("#ViewMore").addClass("hide");
                    }

                } else {
                    $("#ViewMore").removeClass("show");
                    $("#ViewMore").addClass("hide");
                    $("#noresult").hide();
                    $("#divLatestJobs").hide();
                }
            });
            return false;
        });

        $("#JoinSeeMore").click(function () {
            var jsonForm = $(formId).serializeObject();
            console.log(jsonForm);
            var qs = "@Request.Url.ToString()?" + $.param(jsonForm);
            var url = "/account/register?returnurl=" + encodeURIComponent(qs);
            window.location.href = url;
        });
    });

    var pjOffset = 0;
    var pjPages = 1;

    function DisplayPaidJobs() {
        var jsonForm = $("#" + formId).serializeObject();
        if (pjOffset < pjPages) {
            pjOffset = pjOffset + 1;
        } else {
            pjOffset = 1;
        }

        jsonForm.PageNumber = pjOffset;


    }

</script>

<script type="text/x-jquery-tmpl" id="ResultItem">
    <div class="job-card">
        <div class="row" style="min-height:45px;">
            <div class="col-md-9">
                <div class="job-card-title">
                    ${Company}
                </div>
            </div>
            <div class="col-md-3" style="text-align: end;">
                <span style="padding:10px;"> <img src="/Image/Avtar/${UserId}" class="job-photo" /></span>
            </div>
        </div>
        <div class="job-card-subtitle">
            <b>Location: </b> ${Country} ${State}
            <div class="row" style="padding-top: 0px;width: 100%;margin-top: 6px;">
                <div class="col-md-12">
                    <b>Status: </b> Live
                </div>
            </div>
        </div>

        <div class="job-card-buttons">

            <a href="/${jurl}" target="_blank" class="search-buttons card-buttons card-buttons-override" style="text-align:center">View</a>
            <a href="/job/email?Id=${UserId}" target="_blank" class="search-buttons card-buttons card-buttons-override">Share</a>
            <a href="/job/bookmark?Id=${UserId}&redirect=@Request.Url.ToString()" target="_blank" class="search-buttons card-buttons card-buttons-override">Bookmark</a>


        </div>
    </div>
</script>

