@model JobPortal.Web.Models.SearchModel
@using JobPortal.Data
@using JobPortal.Domain
@using JobPortal.Library.Enumerators
@using JobPortal.Library.Helpers
@using PagedList.Mvc
@{
    UserProfile profile = MemberService.Instance.Get(User.Username);

    var pm = ViewBag.UserList as PagedList.IPagedList<JobPortal.Data.UserProfile>;
    int minRowSize = 0;
    int maxRowSize = 0;
    if (pm != null)
    {
        minRowSize = ((pm.PageNumber - 1) * pm.PageSize) + 1;
        int totalRecord = (int)ViewBag.Rows;
        maxRowSize = (pm.PageNumber - 1) * pm.PageSize + pm.Count;
        if (totalRecord <= pm.PageSize)
        {
            maxRowSize = totalRecord;
        }
    }
    System.Text.StringBuilder sbLinks = new System.Text.StringBuilder();
}
<script src="~/Scripts/jquery.twbsPagination.min.js"></script>
<fieldset style="padding:15px;">
    <legend style="font-size:0.9em">Search People</legend>
    @using (Html.BeginForm("SearchIndividuals", "Network", FormMethod.Post, new { id = "SearchIndividualForm" }))
    {
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">
                    <label>Name</label>
                    @Html.TextBoxFor(model => model.FullName, new { placeholder = "NAME", @class = "form-control", @maxlength = 50 })
                    @Html.ValidationMessageFor(model => model.FullName)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                    <label>Age From</label>
                    @Html.TextBoxFor(model => model.AgeMin, new { placeholder = "AGE FROM", @class = "form-control", @maxlength = 3 })
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                    @Html.Label("Age To")
                    @Html.TextBoxFor(model => model.AgeMax, new { placeholder = "AGE TO", @class = "form-control", @maxlength = 3 })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                    <label>Gender</label>
                    @Html.DropDownListFor(model => model.Gender, new SelectList(new List<string>() { "Male", "Female" }), "--SELECT--", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                    <label>Relationship</label>
                    @Html.DropDownListFor(model => model.RelationshipStatus, UIHelper.DropDown<Relationships>(), "--SELECT--", new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <input type="submit" id="BSearchPeople" value="@Model.ButtonText" class="btn btn-info btn-block" title="Search & Invite" />
            </div>
        </div>

        <div id="divContainer" style="padding-top:30px; padding-bottom:15px;">
        </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <a id="ViewMoreInd" class="btn btn-info btn-block hide" style="width:100%; text-transform:capitalize">View More</a>           
        </div>
    </div>         
    }
</fieldset>

<script type="text/javascript">
    var pgs = 1;
    var vpgs = 1;
    $(document).ready(function () {
        $("#divContainer").hide();
        $("#BSearchPeople").click(function () {
            $("#divContainer").html("<div style=\"text-align:center; padding:25px;\"><i class=\"fa fa-spinner fa-spin fa-3x fa-fw margin-bottom\" style=\"font-size: 64px; color: #34ba08;\"></i></div>")
            $("#divContainer").show();            
            $.post('@Url.Action("SearchPeople", "JsonHelper")', { name: $("#FullName").val(), ageFrom: $("#AgeMin").val(), ageTo: $("#AgeMax").val(), gender: $("#Gender").val(), relation: $("#RelationshipStatus").val(), showconnect: '@Model.ShowConnect' },
                function (result) {                    
                    if (result.Rows > 0) {
                        var row = result.Rows;                        
                        if (row > 6) {
                            pgs = Math.ceil(row / 6);
                        }                        
                        $("#divContainer").html(result.Data);                            
                    } else {
                        $("#divContainer").html("<div class=\"clear\" style=\"height:10px;\"></div><div class=\"message-instruction\" style=\"margin-right:20px;\">We didn't find people<div>");
                    }
                    if (vpgs < pgs) {
                        $('#ViewMoreInd').removeClass("hide");
                        $('#ViewMoreInd').addClass("show");
                    } else {
                        $('#ViewMoreInd').removeClass("show");
                        $('#ViewMoreInd').addClass("hide");
                    }
            });
            return false;
        });

        $("#ViewMoreInd").click(function () {            
            if (vpgs <= pgs) {
                vpgs++;
            } else {
                vpgs = 1;
            }
            
            $.post('@Url.Action("SearchPeople", "JsonHelper")', { name: $("#FullName").val(), ageFrom: $("#AgeMin").val(), ageTo: $("#AgeMax").val(), gender: $("#Gender").val(), relation: $("#RelationshipStatus").val(), showconnect: '@Model.ShowConnect', PageNumber: vpgs },
            function (result) {                
                $("#divContainer").append(result.Data);
            });
            if (vpgs < pgs) {
                $('#ViewMoreInd').removeClass("hide");
                $('#ViewMoreInd').addClass("show");
            } else {
                $('#ViewMoreInd').removeClass("show");
                $('#ViewMoreInd').addClass("hide");
            }
        });

        $("#divContainer").on("click", ".aBlock", function () {        
            var bname = $(this).data('name');
            var actionUrl = $(this).data('href');
            var msgText = "";
            var loggedInUserRole = "@(profile!=null ? ((SecurityRoles)profile.Type).GetDescription() :"")";
            var isConfirmed = "@profile.IsConfirmed";
            if (isConfirmed == "True") {
                var role = $(this).data('role');
                if ((role == "Company" && loggedInUserRole == "Individual") || (loggedInUserRole == "Company" && role == "Individual")) {
                    msgText = "<b>Following may be withdrawn with <span id=\"bname\" style=\"font-weight:bold\">" + bname + "</span>:</b><br/>";
                    msgText += "<ul>";
                    msgText += "<li>Application(s)!</li>";
                    msgText += "<li>Matching!</li>";
                    msgText += "<li>Bookmark(s)!</li>";
                    msgText += "<li>Interview(s)!</li>";
                    msgText += "<li>Connection!</li>";
                    msgText += "</ul>";
                } else {
                    if ($(this).data('connected') == "True") {
                        msgText = "<b>Block</b> action will disconnect you with <span id=\"bname\" style=\"font-weight:bold\"><b>" + bname + "</span></b><br/>";
                    } else {
                        msgText = "<b>Block</b> <span id=\"bname\" style=\"font-weight:bold\"><b>" + bname + "</span></b><br/>";
                    }
                }
                msgText += "<div style=\"text-align:right; color:red; font-size:1.5em;\">Are you sure?</div>";
                $(".modal-body #divMsg").html(msgText);

                actionUrl = $(this).data('href');
                $("#dialogOk").click(function () {
                    window.location.href = actionUrl;
                });
            } else {
                window.location.href = actionUrl;
            }
        });

        $("#divContainer").on("click", ".discon", function () {
            discUrl = $(this).data('aurl');
            $("#discDialog #dialogOk").click(function () {
                window.location.href = discUrl;
            });
        });
    });
</script>