@using JobPortal.Data
@using JobPortal.Domain
@using JobPortal.Library.Enumerators
@using JobPortal.Library.Helpers
@using PagedList.Mvc
@using System.Collections
@using JobPortal.Web.Models
@using JobPortal.Models
@{
    UserInfoEntity user = null;
    if (User != null)
    {
        user = User.Info;
        ViewBag.Title = string.Format("{0} - Messages", user.FullName);
    }
    else
    {
        ViewBag.Title = "Messages";
    }
    Layout = "~/Views/Shared/_LandingLayout.cshtml";

    var pagedModel = ViewBag.Model as PagedList.IPagedList<JobPortal.Data.UserProfile>;
    if (pagedModel != null)
    {
        int minRowSize = ((pagedModel.PageNumber - 1) * pagedModel.PageSize) + 1;
        int totalRecord = (int)ViewBag.Rows;
        int maxRowSize = (pagedModel.PageNumber - 1) * pagedModel.PageSize + pagedModel.Count;
        if (totalRecord <= pagedModel.PageSize)
        {
            maxRowSize = totalRecord;
        }
    }
}
<style>
    .seemore {
        text-align: right;
    }

        .seemore > a {
            color: #000000;
            font-family: "Roboto", sans-serif;
            font-size: 12px;
            font-weight: 700;
        }

        .seemore i {
            font-size: 16px;
            padding: 0 0 0 5px;
            vertical-align: middle;
        }

    .sponsored {
        background: #ffffff;
    }

    .sponsored {
        background: #fff none repeat scroll 0 0;
        padding: 0px 15px 0;
        margin-top: -6px;
    }

    .abcdesign {
        margin: 0 0 18px 0;
    }

        .abcdesign > h3 {
            color: #333;
            font-size: 14px;
            margin: 0 0 11px 0;
        }

    .sub-heading h2 {
        color: #000;
        font-size: 14px;
        margin: 0 0 20px;
        padding-bottom: 6px;
        position: relative;
        font-weight: bold;
    }

        .sub-heading h2::after {
            border-bottom: 2px solid #e93100;
            bottom: 0;
            content: "";
            display: block;
            left: 0;
            position: absolute;
            width: 100%;
        }

    .actionlinks {
        list-style: none;
        padding-left: 0px;
    }

        .actionlinks li {
            float: left;
            list-style-type: none;
        }

            .actionlinks li a {
                font-size: 13px;
                font-weight: normal;
            }
</style>
<script src="~/Scripts/jquery.tmpl.min.js"></script>
<script src="~/Scripts/jquery.tmplPlus.min.js"></script>
<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="title-login">
            <h1 style="margin-top:15px">Messaging</h1>
            Manage messages here
        </div>
    </div>
    <div class="col-lg-2 col-md-2">
        <div class="form-group">
            @if (user != null && user.Type == 4)
            {
                if (user.PromoteDate != null)
                {
                    if (user.PromoteDate.Value.Date < DateTime.Now.Date)
                    {
                        <a href="/package/promote?id=@user.Id&type=P&returnUrl=@Request.Url.ToString()" class="btn btn-info promote" style="width:165px;">Promote Profile</a>
                    }
                }
                else
                {
                    <a href="/package/promote?id=@user.Id&type=P&returnUrl=@Request.Url.ToString()" class="btn btn-info promote" style="width:165px;">Promote Profile</a>
                }
            }
        </div>
    </div>
    <div class="col-lg-2 col-md-2">
        <div class="form-group"></div>
    </div>
    <div class="col-lg-2 col-md-2">
        <div class="form-group">
            @if (user != null && user.Type == 4)
            {
                <div style=" ">
                    <a href="https://apps.apple.com/in/app/job-listing/id1575724994">
                        <img src="~/Images/ios.png" style="height:30px;width:30px;" border="0" />

                    </a>


                    <a href="https://play.google.com/store/apps/details?id=com.accuracy.joblisting">
                        <img src="~/Images/android-icon.png" style="height:30px;width:30px;" border="0" />

                    </a>
                </div>
            }
        </div>
    </div>
</div>
<div class="clear" style="height:30px;"></div>
@Html.Partial("_MessagePartial")
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        @if (user.Type == (int)SecurityRoles.Jobseeker)
        {
            @Html.Partial("SearchIndividuals", new JobPortal.Web.Models.SearchModel() { ShowConnect = false, ButtonText = "Search & Message" })
        }
        else
        {
            @Html.Partial("SearchPeople", new JobPortal.Web.Models.SearchModel() { ShowConnect = false, ButtonText = "Search & Message" })
        }
        <div class="clear" style="height: 45px;"></div>
        <fieldset>
            <div class="clear" style="height: 15px;"></div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    @using (Html.BeginForm())
                    {
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class=" form-group">
                                    @Html.DropDownList("ReceiverId", ViewBag.ReceiverList as SelectList, "SELECT NAME", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class=" form-group">
                                    @Html.DropDownList("Status", new SelectList(new Hashtable() { { 2, "Not Connected" }, { 1, "Connected" }, { 0, "Waiting for Acceptance" } }, "key", "value"), "SELECT STATUS", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-lg-offset-8 col-md-offset-8">
                                <input type="submit" id="manage" value="Search" class="btn btn-info btn-block" />
                            </div>
                        </div>
                        <div class="clear" style="height:15px"></div>
                    }
                </div>
            </div>
            <style>
                .ul1 {
                    -webkit-column-count: 3;
                    -moz-column-count: 3;
                    column-count: 3;
                }
            </style>
            <div class="container-fluid">
                <div class="row ">
                    <div class="col-lg-12 col-md-12 col-sm-12 " style=" position:relative;">
                        <div class="ul1" id="MessageArea"></div>
                        <a id="ViewMoreMessages" class="btn btn-primary btn-block hide" style="width:100%;">View More</a>
                    </div>
                </div>
            </div>
            @*<div id="MessageArea" style="padding-top:15px;"></div>
                <a id="ViewMoreMessages" class="btn btn-primary btn-block hide" style="width:100%;">View More</a>*@
        </fieldset>
    </div>

</div>
<script>
    $(function () {
        var page = 1;
        var pages = 1;

        $.post("/message/receiverlist", {}, function (result) {
            if (result.length > 0) {
                $("#ReceiverId").empty();
                $("#ReceiverId").append("<option value =\"\">SELECT</option>");
                $.each(result, function () {
                    $("#ReceiverId").append("<option value =" + this.ConnectedUserId + ">" + this.FullName + "</option>");
                });
            }
        });

        $.post("/message/index", { pageNumber: page }, function (result) {
            console.log(result);
            if (result.length > 0) {
                var rows = result[0].MaxRows;
                pages = Math.ceil(rows / 10);
                $.each(result, function () {
                    this.authenticated = "@Request.IsAuthenticated";
                    this.role = "@user.Role.GetDescription()";
                    $("#ResultItem").tmpl(this).appendTo("#MessageArea");
                });
            }

            if (page < pages) {
                $("#ViewMoreMessages").removeClass("hide");
                $("#ViewMoreMessages").addClass("show");
            } else {
                $("#ViewMoreMessages").removeClass("show");
                $("#ViewMoreMessages").addClass("hide");
            }
        });

        $("#manage").click(function () {
            var json = $("#manage").closest("form").serializeObject();
            json.PageNumber = 1;
            $("#waitDialog").modal("show");
            $.post("/message/index", json, function (result) {
                $("#waitDialog").modal("hide");
                if (result.length > 0) {
                    $("#MessageArea").empty();
                    var rows = result[0].MaxRows;
                    pages = Math.ceil(rows / 10);
                    $.each(result, function () {
                        this.authenticated = "@Request.IsAuthenticated";
                        this.role = "@user.Role.GetDescription()";
                        $("#ResultItem").tmpl(this).appendTo("#MessageArea");
                    });
                }

                if (page < pages) {
                    $("#ViewMoreMessages").removeClass("hide");
                    $("#ViewMoreMessages").addClass("show");
                } else {
                    $("#ViewMoreMessages").removeClass("show");
                    $("#ViewMoreMessages").addClass("hide");
                }
            });
            return false;
        });

        $("#ViewMoreMessages").click(function () {
            if (page <= pages) {
                page++;
                var json = $("#manage").closest("form").serializeObject();
                json.pageNumber = page;
                $("#waitDialog").modal("show");
                $.post("/message/index", json, function (result) {
                    $("#waitDialog").modal("hide");
                    $.each(result, function () {
                        this.authenticated = "@Request.IsAuthenticated";
                        this.role = "@user.Role.GetDescription()";
                        $("#ResultItem").tmpl(this).appendTo("#MessageArea");
                    });
                });
            }

            if (page < pages) {
                $("#ViewMoreMessages").removeClass("hide");
                $("#ViewMoreMessages").addClass("show");
            } else {
                $("#ViewMoreMessages").removeClass("show");
                $("#ViewMoreMessages").addClass("hide");
            }
        });
    });
</script>
<script type="text/x-jquery-tmpl" id="ResultItem">
    <div class="row" style="display:inline-block; width:100%;">
        <div class="col-sm-12">
            <div class="list-group">
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <a href="/${PermaLink}">
                                <div style="width:60px; height:60px; background:url('/Image/Avtar?Id=${ConnectedUserId}') no-repeat; background-size:contain; background-position:top center">
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1"></div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <i><b>Name: </b></i><a href="${PermaLink}" title="View profile" target="_blank">${FullName}</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <i><b>Status: </b></i>${ConnectionStatus}
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <ul class="actionlinks">
                                    <li>
                                        {{if Messages > 0 }}
                                        <b><a href="/Message/List?SenderId=${Id}" target="_blank">Message (<span style="color:red;">${Messages}</span>)</a></b>
                                        {{else}}
                                        <b><a href="/Message/List?SenderId=${Id}" target="_blank">Message</a></b>
                                        {{/if}}
                                    </li>
                                    {{if authenticated == "False"}}
                                    <li>
                                        |<b><a href="/Home/Connect?id=${Id}" target="_blank" title="Connect">Connect</a></b>
                                    </li>
                                    <li>
                                        |<b><a href="/${PermaLink}" title="View profile" target="_blank">View Profile</a></b>
                                    </li>
                                    {{/if}}

                                    {{if authenticated == "True" }}

                                    {{if IsConnected == true }}
                                    <li>
                                        |<b><a data-aurl="/Network/Disconnect?Id=${Id}&redirect=@Request.Url.ToString()" role="button" data-toggle="modal" data-target="#discDialog" class="disc" style="cursor:pointer;" title="Disconnect">Disconnect</a></b>
                                    </li>
                                    {{else}}
                                    {{if InvitedByMe > 0 || InvitedBySomeone > 0}}
                                    {{if InvitedByMe > 0}}
                                    <li>
                                        |<b><a data-aurl="/Network/Disconnect?Id=${Id}&redirect=@Request.Url.ToString()" role="button" data-toggle="modal" data-target="#discDialog" class="disc" style="cursor:pointer;" title="Disconnect">Disconnect</a></b>
                                    </li>
                                    {{/if}}
                                    {{if InvitedBySomeone > 0}}
                                    <li>
                                        |<b><a href="/Network/Accept?Id=${Id}&redirect=@Request.Url.ToString()" title="Accept" target="_blank">Accept</a></b>
                                        |<b><a data-aurl="/Network/Disconnect?Id=${Id}&redirect=@Request.Url.ToString()" role="button" data-toggle="modal" data-target="#discDialog" class="disc" style="cursor:pointer;" title="Disconnect">Disconnect</a></b>
                                    </li>
                                    {{/if}}
                                    {{else}}
                                    <li>
                                        |<b><a href="/Home/Connect?id=${Id}&redirect=@Request.Url.ToString()" title="Connect" target="_blank">Connect</a></b>
                                    </li>
                                    {{/if}}
                                    {{/if}}

                                    {{if BlockedByMe > 0 }}
                                    <li>
                                        |<b><a href="/Home/Unblock?id=${Id}&redirect=@Request.Url.ToString()" title="Unblock" target="_blank">Unblock</a></b>
                                    </li>
                                    {{/if}}
                                    {{if BlockedByMe <= 0 && Blocked <= 0 }}
                                    {{if role == "Company" && Content != null}}
                                    {{if Title != null && CategoryId!= null && SpecializationId!=null}}

                                    {{if InterviewId >0 && (InterviewStatus == 0 || InterviewStatus == 1)}}
                                    <li>
                                        |<b><a href="/Interview/Update?id=${InterviewId}" title="View in-progress interview details" target="_blank"><span>Interview&nbsp;In-progress</span></a></b>
                                    </li>
                                    {{/if}}
                                    {{/if}}
                                    {{/if}}
                                    <li>

                                        |<b><a data-href="/Home/Block1?id=${Id}" data-name="${FullName}" role="button" data-toggle="modal" data-target="#cDialog" class="aBlock" data-role="${TypeName}" data-connected="${IsConnected}" style="cursor:pointer;" title="Block">Block</a></b>

                                    </li>
                                    {{/if}}
                                    {{/if}}
                                    {{if Downloadable == true}}
                                    <li>
                                        @if (Request.IsAuthenticated)
                                        {
                                            <text>|<a href="~/JobSeeker/Resume12?uid=${Id}" title="Download Resume" target="_blank">Download</a></text>
                                        }
                                        else
                                        {
                                            <text>|<a href="~/JobSeeker/Resume12?uid=${Id}" title="Download Resume" target="_blank">Download</a></text>
                                        }
                                    </li>
                                    {{/if}}
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</script>
